Repository facebook/ThreatExchange, changes with the labels that .github/labeler.yml gives for each.
All labels: python-threatexchange, hma, pdq, hma-ui

tests arent ready for 3.9 apparently
  .github/workflows/python-threatexchange-ci.yaml
Labels: none

Make fetch pull from te and save locally
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/Dockerfile
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  python-threatexchange/threatexchange/cli/experimental_fetch.py
  python-threatexchange/threatexchange/signal_type/index.py
  python-threatexchange/threatexchange/signal_type/pdq_index.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: python-threatexchange, hma

revert some stuff
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/Dockerfile
Labels: hma

bump pypi version
  python-threatexchange/version.txt
Labels: python-threatexchange

black formatting
  python-threatexchange/threatexchange/cli/experimental_fetch.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: python-threatexchange

[hma][ui] Add reference to actioner action in mock
  hasher-matcher-actioner/webapp/src/MatchDetails.js
Labels: hma, hma-ui

.github/labeler.yml:

# Copyright (c) Facebook, Inc. and its affiliates. All Rights Reserved

python-threatexchange:
  - python-threatexchange/**/*
  
hma:
  - hasher-matcher-actioner/**/*

pdq:
  - pdq/**/*

hma-ui:
  - hasher-matcher-actioner/webapp/**/*
