Repository facebook/ThreatExchange, pull requests merged in 2020-12, with the labels that each got.

#333 Rename pytx3 to threatexchange
  .github/labeler.yml
  .github/workflows/python-threatexchange-ci.yaml
  .github/workflows/python-threatexchange-release.yaml
  .gitignore
  README.md
  python-threatexchange/.gitignore
  python-threatexchange/CONTRIBUTING.md
  python-threatexchange/DESCRIPTION.rst
  python-threatexchange/LICENSE
  python-threatexchange/Makefile
  python-threatexchange/README.md
  python-threatexchange/benchmarks/benchmark_pdq_faiss_matchers.py
  python-threatexchange/setup.py
  python-threatexchange/tests/__init__.py
  python-threatexchange/tests/hashing/__init__.py
  python-threatexchange/tests/hashing/test_pdq_faiss_matcher.py
  python-threatexchange/tests/test_common.py
  python-threatexchange/threatexchange/TE.py
  python-threatexchange/threatexchange/__init__.py
  python-threatexchange/threatexchange/cli/__init__.py
  python-threatexchange/threatexchange/cli/command_base.py
  python-threatexchange/threatexchange/cli/experimental_fetch.py
  python-threatexchange/threatexchange/cli/fetch.py
  python-threatexchange/threatexchange/cli/label.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/match.py
  python-threatexchange/threatexchange/collab_config.py
  python-threatexchange/threatexchange/common.py
  python-threatexchange/threatexchange/content_type/__init__.py
  python-threatexchange/threatexchange/content_type/content_base.py
  python-threatexchange/threatexchange/content_type/meta.py
  python-threatexchange/threatexchange/content_type/photo.py
  python-threatexchange/threatexchange/content_type/text.py
  python-threatexchange/threatexchange/content_type/video.py
  python-threatexchange/threatexchange/dataset.py
  python-threatexchange/threatexchange/descriptor.py
  python-threatexchange/threatexchange/hashing/__init__.py
  python-threatexchange/threatexchange/hashing/pdq_faiss_matcher.py
  python-threatexchange/threatexchange/indicator.py
  python-threatexchange/threatexchange/signal_type/__init__.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/raw_text.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
  python-threatexchange/threatexchange/signal_type/url.py
  python-threatexchange/threatexchange/signal_type/video_tmk_pdqf.py
  python-threatexchange/version.txt
  pytx3/DESCRIPTION.rst
Labels: CLA Signed, python-threatexchange, pytx3

#334 Start releasing to pypi
  .github/workflows/python-threatexchange-release.yaml
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#335 Add release documentation for releasing to PyPI.
  python-threatexchange/CONTRIBUTING.md
Labels: CLA Signed, python-threatexchange

#338 Check if no command is given to python-threatexchange and print help if so
  python-threatexchange/threatexchange/cli/main.py
Labels: CLA Signed, python-threatexchange

#340 Added Contributing Guide
  README.md
Labels: CLA Signed

#336 Update CODEOWNERS to include Dcallies in globals
  CODEOWNERS
Labels: CLA Signed

#341 Add copyright and docstrings
  python-threatexchange/tests/hashing/test_pdq_utils.py
  python-threatexchange/threatexchange/hashing/pdq_utils.py
Labels: CLA Signed, python-threatexchange

#342 Release v0.0.11 of threatexchange python library
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#344 Fix Code Format
  python-threatexchange/threatexchange/cli/experimental_fetch.py
Labels: CLA Signed, python-threatexchange

#347 Use requests instead of urllib for TE.py
  python-threatexchange/setup.py
  python-threatexchange/threatexchange/TE.py
Labels: CLA Signed, python-threatexchange

#349 Get Label command to work
  python-threatexchange/threatexchange/cli/label.py
Labels: CLA Signed, python-threatexchange

#350 Prototype HMA - First Pass
  .github/workflows/hma-ci.yaml
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/.terraform.lock.hcl
  hasher-matcher-actioner/CONTRIBUTING.md
  hasher-matcher-actioner/README.md
  hasher-matcher-actioner/backend.tf.example
  hasher-matcher-actioner/hashing-data/main.tf
  hasher-matcher-actioner/hashing-data/outputs.tf
  hasher-matcher-actioner/hashing-data/variables.tf
  hasher-matcher-actioner/lambdas/Dockerfile
  hasher-matcher-actioner/lambdas/pdq_hasher.py
  hasher-matcher-actioner/lambdas/pdq_indexer.py
  hasher-matcher-actioner/lambdas/pdq_matcher.py
  hasher-matcher-actioner/lambdas/requirements.txt
  hasher-matcher-actioner/main.tf
  hasher-matcher-actioner/pdq-signals/main.tf
  hasher-matcher-actioner/pdq-signals/outputs.tf
  hasher-matcher-actioner/pdq-signals/variables.tf
  hasher-matcher-actioner/scripts/update_lambda_docker_image.sh
  hasher-matcher-actioner/terraform.tfvars.example
  hasher-matcher-actioner/variables.tf
Labels: CLA Signed, hma

#353 Remove self from CODEOWNERS
  CODEOWNERS
Labels: CLA Signed

#352 Auto label HMA related PRs
  .github/labeler.yml
Labels: CLA Signed
