Repository facebook/ThreatExchange, pull requests merged in 2021-10, with the labels that each got.

#821 [hma][minor] Move hma-lite and example_integrations to example folder to clean up root of hma
  hasher-matcher-actioner/examples/example_integrations/workplace.py
  hasher-matcher-actioner/examples/example_integrations/workplace.tf
  hasher-matcher-actioner/examples/hma-lite/API.md
  hasher-matcher-actioner/examples/hma-lite/CONTRIBUTING.md
  hasher-matcher-actioner/examples/hma-lite/Dockerfile
  hasher-matcher-actioner/examples/hma-lite/README.md
  hasher-matcher-actioner/examples/hma-lite/config/uwsgi.ini
  hasher-matcher-actioner/examples/hma-lite/hmalite/app.py
  hasher-matcher-actioner/examples/hma-lite/hmalite/config.py
  hasher-matcher-actioner/examples/hma-lite/hmalite/index.py
  hasher-matcher-actioner/examples/hma-lite/hmalite/matcher.py
  hasher-matcher-actioner/examples/hma-lite/hmalite/templates/index.html
  hasher-matcher-actioner/examples/hma-lite/hmalite/templates/results.html
  hasher-matcher-actioner/examples/hma-lite/requirements.txt
  hasher-matcher-actioner/examples/hma-lite/sample_data/README.md
  hasher-matcher-actioner/examples/hma-lite/sample_data/pdq.csv
  hasher-matcher-actioner/examples/hma-lite/sample_data/pdq_ocr.csv
  hasher-matcher-actioner/examples/hma-lite/sample_data/photo_md5.csv
  hasher-matcher-actioner/examples/hma-lite/sample_data/raw_text.csv
  hasher-matcher-actioner/examples/hma-lite/sample_data/trend_query.csv
  hasher-matcher-actioner/examples/hma-lite/sample_data/url.csv
  hasher-matcher-actioner/examples/hma-lite/sample_data/video_md5.csv
  hasher-matcher-actioner/examples/hma-lite/sample_data/video_tmk_pdqf.csv
  hasher-matcher-actioner/terraform/collabs_example.json
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/terraform.tfvars.example
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#822 [python-tx] fix import error for not having tlsh installed
  python-threatexchange/threatexchange/signal_type/pdq_ocr.py
  python-threatexchange/threatexchange/signal_type/tlsh_pdf.py
Labels: python-threatexchange

#823 [python-threatexchange] 0.0.25 version bump
  python-threatexchange/version.txt
Labels: python-threatexchange

#824 [hma] update hmalib setup.py to 0.0.25 of python-threatexchange to fix import error
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/README.md
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/setup.py
Labels: CLA Signed, hma

#827 [hma][api] Add VPC support to HMA API
  hasher-matcher-actioner/examples/vpc_deploy/README.md
  hasher-matcher-actioner/examples/vpc_deploy/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/examples/vpc_deploy/terraform/main.tf
  hasher-matcher-actioner/examples/vpc_deploy/terraform/outputs.tf
  hasher-matcher-actioner/examples/vpc_deploy/terraform/variables.tf
  hasher-matcher-actioner/hmalib/lambdas/api/action_rules.py
  hasher-matcher-actioner/hmalib/lambdas/api/actions.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_auth.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/middleware.py
  hasher-matcher-actioner/hmalib/lambdas/api/stats.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/scripts/common/utils.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/outputs.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/terraform.tfvars.example
  hasher-matcher-actioner/terraform/variables.tf
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/App.tsx
  hasher-matcher-actioner/webapp/src/Sidebar.tsx
Labels: hma, hma-ui

#829 [hma][api] add s3 api submit support
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/scripts/common/utils.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: hma

#833 [hma][make] update Makefile to not assume `prefix` & add command for hmacli install
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/terraform/terraform.tfvars.example
Labels: hma

#837 v0.0.26: support limits in threat_updates delta fetches
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#840 [hma] check if fetcher is active in lambda
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
Labels: hma

#844 [pytx] Fix various bugs with threat_updates and CLI fetch
  python-threatexchange/threatexchange/cli/dataset/simple_serialization.py
  python-threatexchange/threatexchange/descriptor.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: CLA Signed, python-threatexchange

#850 [hma] add try-catch on hasher to avoid pointless tries
  hasher-matcher-actioner/hmalib/hashing/unified_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
Labels: CLA Signed, hma
