Repository facebook/ThreatExchange, pull requests merged in 2021-04, with the labels that each got.

#466 Change AWSSecrets.te_api_key to pull secret using a secret name stored in an environment variable
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/terraform/fetcher/main.tf
Labels: CLA Signed, hma

#464 [py-tx] fix hash from file bug and add test
  python-threatexchange/threatexchange/cli/hash_cmd.py
  python-threatexchange/threatexchange/hashing/ocr_utils.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/pdq_ocr.py
  python-threatexchange/threatexchange/signal_type/tests/test_hash_from_x.py
Labels: CLA Signed, python-threatexchange

#465 [py-tx] update pdq_hasher to handle grayscale
  python-threatexchange/threatexchange/hashing/pdq_hasher.py
Labels: CLA Signed, python-threatexchange

#467 Changed CloudFront behavior to redirect http traffic to https
  hasher-matcher-actioner/terraform/webapp/main.tf
Labels: CLA Signed, hma

#469 [py-tx] pdq hash revert automatic convert and check dim of image array for better perf
  python-threatexchange/threatexchange/hashing/pdq_hasher.py
Labels: CLA Signed, python-threatexchange

#468 [pytx] version bump to 0.0.17 for release with bug fix
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#460 Index multi reader
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/hmalib/common.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/outputs.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/variables.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#471 Does this work brian
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
Labels: CLA Signed, hma

#473 [hma] update test commands and script
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/outputs.tf
  hasher-matcher-actioner/tests/scripts/check_deployed_instance.py
Labels: CLA Signed, hma

#463 [WIP][actions] Rudimentary lambda to 'act' on match messages
  hasher-matcher-actioner/hmalib/lambdas/actions/__init__.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_models.py
  hasher-matcher-actioner/requirements.txt
  hasher-matcher-actioner/setup.py
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
  hasher-matcher-actioner/tests/test_models.py
  hasher-matcher-actioner/tests/test_sample.py
Labels: CLA Signed, hma

#472 Refactor pdq indexer
  hasher-matcher-actioner/hmalib/common/__init__.py
  hasher-matcher-actioner/hmalib/common/logging.py
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
Labels: CLA Signed, hma

#474 Create stub function for action performer
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/tests/test_actioner.py
Labels: CLA Signed, hma

#477 Make primary nav vertical and move it to its own file
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/public/index.html
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Sidebar.jsx
  hasher-matcher-actioner/webapp/src/styles/_app.scss
  hasher-matcher-actioner/webapp/src/styles/_sidebar.scss
Labels: CLA Signed, hma, hma-ui

#476 Update fetcher to have better logs
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
Labels: CLA Signed, hma

#470 [HMA] Move mock to API level
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/Dashboard.jsx
  hasher-matcher-actioner/webapp/src/MatchDetails.jsx
  hasher-matcher-actioner/webapp/src/Signals.jsx
Labels: CLA Signed, hma, hma-ui

#480 [hma] get populate_config_db to work on windows
  hasher-matcher-actioner/scripts/populate_config_db
  hasher-matcher-actioner/scripts/storm_images_queue
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/populate_config_db.sh
Labels: CLA Signed, hma

#478 python-threatexchange supports fetching list of privacy groups an app is a member of
  python-threatexchange/setup.py
  python-threatexchange/tests/test_api.py
  python-threatexchange/threatexchange/api.py
  python-threatexchange/threatexchange/api_representations.py
Labels: CLA Signed, python-threatexchange

#482 [hma] fix missing lambda env values and refactor to assign in the handler
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#479 Provide a devcontainer for HMA
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/.devcontainer/devcontainer.json
  hasher-matcher-actioner/.devcontainer/post-create
Labels: CLA Signed

#481 Update DynamoDB Config table and fetcher Lambda to allow configs to b…
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/terraform/collabs_example.json
Labels: CLA Signed, hma

#486 devcontainer: support bash history
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/.devcontainer/devcontainer.json
Labels: CLA Signed

#487 Get privacy groups
  python-threatexchange/threatexchange/api.py
  python-threatexchange/threatexchange/api_representations.py
Labels: CLA Signed, python-threatexchange

#484 [hma] have dashboard and signal page return a few real counts
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_models.py
  hasher-matcher-actioner/tests/test_models.py
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/src/Dashboard.jsx
  hasher-matcher-actioner/webapp/src/Signals.jsx
Labels: CLA Signed, hma, hma-ui

#483 Initial skeleton of action evaluation.
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_actioner.py
Labels: CLA Signed, hma

#488 [pytx] check if _cached_state exists before clear in threat_updates.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: CLA Signed, python-threatexchange

#490 Refactor actioner
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
Labels: CLA Signed, hma

#489 [hma] Propagate tags to index metadata + minor fixes
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/webapp/src/Signals.jsx
Labels: CLA Signed, hma, hma-ui

#491 [hma] Simple Config Framework
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#493 mock action performer configs
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/tests/test_actioner.py
Labels: CLA Signed, hma

#495 Split actioner into multiple functions in terraform
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#496 [hma] Create signal metadata db obj and surface on UI
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_models.py
  hasher-matcher-actioner/webapp/src/MatchDetails.jsx
Labels: CLA Signed, hma, hma-ui

#497 Make actioner config
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/common/tests/__init__.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/tests/test_actioner.py
Labels: CLA Signed, hma

#499 [hma] ThreatExchang/Collaboration config in HMAConfig, Helper Populate script
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/scripts/__init__.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
Labels: CLA Signed, hma

#501 Actioner evaluate one rule
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
Labels: CLA Signed, hma

#504 [hma] fetcher_active default to true
  hasher-matcher-actioner/terraform/collabs_example.json
Labels: CLA Signed, hma

#500 Support search by content / signal in "matches" page
  hasher-matcher-actioner/.devcontainer/devcontainer.json
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/middleware.py
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Matches.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchPane.jsx
  hasher-matcher-actioner/webapp/src/pages/Matches.jsx
  hasher-matcher-actioner/webapp/src/styles/_app.scss
  hasher-matcher-actioner/webapp/src/utils/DateTimeUtils.jsx
  hasher-matcher-actioner/webapp/src/utils/QueryParams.js
Labels: CLA Signed, hma, hma-ui

#506 Actions queues
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/actions/reactioner.py
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#494 Get privacy groups
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
  hasher-matcher-actioner/terraform/collabs_example.json
  python-threatexchange/tests/test_api.py
  python-threatexchange/threatexchange/api_representations.py
Labels: CLA Signed, hma, python-threatexchange

#508 [pytx] Add post apply method to apply_updates
  python-threatexchange/threatexchange/cli/dataset/simple_serialization.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: CLA Signed, python-threatexchange

#510 [hma][config] Add subtype helper
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
Labels: CLA Signed, hma

#507 implement reactions in actioner
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/reactioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  python-threatexchange/threatexchange/api.py
Labels: CLA Signed, hma, python-threatexchange

#511 bump version to 0.0.18
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#513 Remove region
  hasher-matcher-actioner/hmalib/aws_secrets.py
Labels: CLA Signed, hma

#509 [hma] Have fetcher update dynamo for signal objects
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_models.py
  hasher-matcher-actioner/mypy.ini
  hasher-matcher-actioner/setup.py
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#502 Convert Fetcher to Use ThreatExchangeConfig (HMAConfig version)
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#512 Messages for actions and reactions queues
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_actioner_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/actions/reactioner.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_models.py
Labels: CLA Signed, hma

#515 First pass action config viewer
  hasher-matcher-actioner/webapp/.eslintrc.json
  hasher-matcher-actioner/webapp/.prettierrc.json
  hasher-matcher-actioner/webapp/.watchmanconfig
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Settings.jsx
Labels: CLA Signed, hma, hma-ui

#517 [hma][action] Convert configs to HMAConfigWithSubtypes
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/common/reactioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/__init__.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
Labels: CLA Signed, hma

#520 aws_dataclass
  hasher-matcher-actioner/hmalib/common/aws_dataclass.py
  hasher-matcher-actioner/hmalib/common/tests/aws_dataclass_test.py
Labels: CLA Signed, hma

#522 [hma][dev] update vscode setting default format on save
  hasher-matcher-actioner/.devcontainer/devcontainer.json
Labels: CLA Signed

#518 display actioner details
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Settings.jsx
Labels: CLA Signed, hma, hma-ui

#519 Implemented action evaluation along with some tests.
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_action_rule_evaluation.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
Labels: CLA Signed, hma

#521 [hma][config] Finish swapping out config to use aws_dataclass helper
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
Labels: CLA Signed, hma

#523 Populate action performers
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
Labels: CLA Signed, hma

#527 [hma][config] Fix support for field(init=False)
  hasher-matcher-actioner/hmalib/common/aws_dataclass.py
  hasher-matcher-actioner/hmalib/common/tests/aws_dataclass_test.py
Labels: CLA Signed, hma

#524 Implement action rules as config-backed objects.
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_action_rule_evaluation.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#526 give action performer environment variables
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#528 ActionRule: list to set refactor for must and must not have labels
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_action_rule_evaluation.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/reactioner.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
Labels: CLA Signed, hma

#529 Make Actioner Configs
  hasher-matcher-actioner/webapp/src/Settings.jsx
  hasher-matcher-actioner/webapp/src/settings/ActionSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/settings/SignalSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#531 Support typing request bodies using the jsoninator middleware
  hasher-matcher-actioner/hmalib/lambdas/api/middleware.py
  hasher-matcher-actioner/hmalib/lambdas/api/tests/test_middleware.py
  hasher-matcher-actioner/mypy.ini
  hasher-matcher-actioner/requirements-dev.txt
Labels: CLA Signed, hma

#530 [hma] Enable details UI to record and send opinion change to actioner
  hasher-matcher-actioner/hmalib/common/signal_models.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/middleware.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_pdq_models.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/webapp/.eslintrc.json
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/MatchDetails.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchPane.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchTable.jsx
  hasher-matcher-actioner/webapp/src/components/OpinionChangeConfirmModal.jsx
  hasher-matcher-actioner/webapp/src/components/OpinionTableCell.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
  hasher-matcher-actioner/webapp/src/utils/ImageUtils.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed, hma, hma-ui

#525 [hma][config] Delete HMAConfigWithSubtype.SubType
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
Labels: CLA Signed, hma

#532 Actions add action rule to action message
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/aws_dataclass.py
  hasher-matcher-actioner/hmalib/common/tests/test_action_rule_evaluation.py
  hasher-matcher-actioner/hmalib/common/tests/test_actioner_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/actions/reactioner.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
Labels: CLA Signed, hma

#533 Added action_rules field to ActionMessage; refactored dataclasses int…
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/classification_models.py
  hasher-matcher-actioner/hmalib/common/evaluator_models.py
  hasher-matcher-actioner/hmalib/common/message_models.py
  hasher-matcher-actioner/hmalib/common/reactioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_action_rule_evaluation.py
  hasher-matcher-actioner/hmalib/common/tests/test_actioner_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/actions/reactioner.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
Labels: CLA Signed, hma

#538 [hma] fix console errors on details UI
  hasher-matcher-actioner/webapp/src/components/ContentMatchTable.jsx
  hasher-matcher-actioner/webapp/src/components/OpinionChangeConfirmModal.jsx
  hasher-matcher-actioner/webapp/src/components/OpinionTableCell.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
Labels: CLA Signed, hma, hma-ui

#535 [hma] Submit Content API
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/middleware.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
Labels: CLA Signed, hma

#516 Create datasets api
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#539 devcontainers: infer unixname from env; add github cli
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/.devcontainer/devcontainer.json
Labels: CLA Signed

#536 [hma][ui] Connect Submit Content API to new UI Page
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Upload.jsx
  hasher-matcher-actioner/webapp/src/components/SubmitContentFields.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed, hma, hma-ui

#540 Storm submissions API with the same image repeatedly
  hasher-matcher-actioner/scripts/storm_submissions_api
  hasher-matcher-actioner/terraform/outputs.tf
  hasher-matcher-actioner/webapp/README.md
Labels: CLA Signed, hma, hma-ui
