Repository facebook/ThreatExchange, pull requests merged in 2021-06, with the labels that each got.

#628 Add user-pool name to terraform outputs
  hasher-matcher-actioner/terraform/authentication/outputs.tf
  hasher-matcher-actioner/terraform/outputs.tf
Labels: CLA Signed, hma

#631 [hma][scripts] Move part of storm_submit_api to util file for reuse
  hasher-matcher-actioner/scripts/get_auth_token
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/scripts/storm_submissions_api
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#637 [hma][tf] hotfix for those using shared user pool
  hasher-matcher-actioner/terraform/authentication/outputs.tf
Labels: CLA Signed, hma

#634 Matches page design feedback
  hasher-matcher-actioner/webapp/src/Sidebar.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchPane.jsx
  hasher-matcher-actioner/webapp/src/pages/Matches.jsx
  hasher-matcher-actioner/webapp/src/pages/layouts/FullWidthLocalScrollingLeftAlignedLayout.jsx
  hasher-matcher-actioner/webapp/src/styles/_app.scss
  hasher-matcher-actioner/webapp/src/styles/_matches.scss
  hasher-matcher-actioner/webapp/src/styles/_sidebar.scss
  hasher-matcher-actioner/webapp/src/styles/_variables.scss
Labels: CLA Signed, hma, hma-ui

#639 Move and add Doc Images
  hasher-matcher-actioner/docs/Screen Shot 2021-06-01 at 4.19.31 PM.png
  hasher-matcher-actioner/docs/images/Content Details Page with ActionHistory.png
  hasher-matcher-actioner/docs/images/Create Action.png
  hasher-matcher-actioner/docs/images/Create ActionRule.png
  hasher-matcher-actioner/docs/images/Matches Page.png
Labels: CLA Signed, hma

#636 Misc design changes to dashboard
  hasher-matcher-actioner/webapp/src/components/GraphWithNumberWidget.jsx
  hasher-matcher-actioner/webapp/src/pages/Dashboard.jsx
Labels: CLA Signed, hma, hma-ui

#638 add validation rules when for update and delete
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerColumns.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#642 Wangmengyang images
  hasher-matcher-actioner/docs/images/Dataset.png
  hasher-matcher-actioner/docs/images/delete action.png
  hasher-matcher-actioner/docs/images/edit action.png
  hasher-matcher-actioner/docs/images/testphotos.png
Labels: CLA Signed, hma

#644 change information icon background color if privacy group is not in use
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
Labels: CLA Signed, hma, hma-ui

#641 [hma][scripts] Add API methods to script utils
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/terraform/authentication-shared/main.tf
  hasher-matcher-actioner/terraform/authentication/main.tf
  hasher-matcher-actioner/terraform/outputs.tf
Labels: CLA Signed, hma

#656 Upload ActionRule Images
  hasher-matcher-actioner/docs/images/ActionRule Cat Match Example.png
  hasher-matcher-actioner/docs/images/ActionRule Dog Match Example.png
Labels: CLA Signed

#665 fix sync undefined issue
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#668 Add images for Opinion Tutorial
  hasher-matcher-actioner/docs/images/Content Details Page.png
  hasher-matcher-actioner/docs/images/Remove Opinion.png
Labels: CLA Signed, hma

#670 Add submit content photo
  hasher-matcher-actioner/docs/images/Submit Content.png
Labels: CLA Signed, hma

#672 [hma] add jpg2 and update sample_data README
  hasher-matcher-actioner/sample_data/README.md
  hasher-matcher-actioner/sample_data/holidays-jpg2-pdq-hashes.csv
Labels: CLA Signed, hma

#673 [hma][hotfix] fix broken override of call in WebhookActionPerformer subclass
  hasher-matcher-actioner/hmalib/common/actioner_models.py
Labels: CLA Signed, hma

#659 [hma][scripts] add start of submit_content_test and helpers
  hasher-matcher-actioner/hmalib/common/classification_models.py
  hasher-matcher-actioner/sample_data/b.jpg
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/scripts/set_tf_outputs_in_local_env.sh
  hasher-matcher-actioner/scripts/submit_content_test.py
Labels: CLA Signed, hma

#671 Add UI URL to terraform outputs
  hasher-matcher-actioner/terraform/outputs.tf
  hasher-matcher-actioner/terraform/webapp/outputs.tf
Labels: CLA Signed, hma

#678 Update README.md
  README.md
Labels: CLA Signed

#676 Improve Install flow
  hasher-matcher-actioner/Makefile
Labels: CLA Signed, hma

#680 [hma][scripts] basic changes to storm script
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/scripts/storm_submissions_api
Labels: CLA Signed, hma

#682 [hma] add check to handle sample ds privacy_group_id
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
Labels: CLA Signed, hma

#679 Make ActionRule Labels understandable
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#683 [hma][scripts] Add retry to storm script
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/scripts/set_tf_outputs_in_local_env.sh
  hasher-matcher-actioner/scripts/storm_submissions_api
  hasher-matcher-actioner/scripts/submit_content_test.py
Labels: CLA Signed, hma

#666 fix undefined datasets issue
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#681 [hma] Add basic autogen-ed dashboard to terraform
  hasher-matcher-actioner/terraform/actions/outputs.tf
  hasher-matcher-actioner/terraform/api/outputs.tf
  hasher-matcher-actioner/terraform/counters/outputs.tf
  hasher-matcher-actioner/terraform/dashboard/lambda_widget.tpl
  hasher-matcher-actioner/terraform/dashboard/main.tf
  hasher-matcher-actioner/terraform/dashboard/outputs.tf
  hasher-matcher-actioner/terraform/dashboard/variables.tf
  hasher-matcher-actioner/terraform/datastore/outputs.tf
  hasher-matcher-actioner/terraform/fetcher/outputs.tf
  hasher-matcher-actioner/terraform/hashing-data/outputs.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/outputs.tf
Labels: CLA Signed, hma

#686 [hma][ui] Add link to aws dashboard on HMA UI Dashboard Page
  hasher-matcher-actioner/terraform/dashboard/outputs.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/webapp/src/pages/Dashboard.jsx
Labels: CLA Signed, hma, hma-ui

#687 [hma][scripts] basic soak test
  hasher-matcher-actioner/sample_data/holidays-jpg1-pdq-hashes.csv
  hasher-matcher-actioner/scripts/listener.py
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/scripts/soak_test_system
  hasher-matcher-actioner/scripts/submit_content_test.py
Labels: CLA Signed, hma

#689 [hma] have dash use var.measure_performance and set time period to 1 minute
  hasher-matcher-actioner/terraform/dashboard/lambda_widget.tpl
  hasher-matcher-actioner/terraform/dashboard/main.tf
  hasher-matcher-actioner/terraform/dashboard/outputs.tf
  hasher-matcher-actioner/terraform/dashboard/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
  hasher-matcher-actioner/webapp/src/pages/Dashboard.jsx
Labels: CLA Signed, hma, hma-ui

#685 Add and Remove Classifications from ActionRules
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#692 [hma] allow js to understand python iso strings
  hasher-matcher-actioner/webapp/src/utils/DateTimeUtils.jsx
Labels: CLA Signed, hma, hma-ui

#690 [hma][scripts] Move submit and listen to threads in soak test
  hasher-matcher-actioner/scripts/listener.py
  hasher-matcher-actioner/scripts/soak_test_system
  hasher-matcher-actioner/scripts/storm_submissions_api
  hasher-matcher-actioner/scripts/submit_content_test.py
Labels: CLA Signed, hma

#691 Typescript
  .github/workflows/hma-webapp-ci.yaml
  hasher-matcher-actioner/.devcontainer/devcontainer.json
  hasher-matcher-actioner/webapp/.eslintrc.json
  hasher-matcher-actioner/webapp/.prettierrc.json
  hasher-matcher-actioner/webapp/README.md
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/components/HolidaysDatasetInformationBlock.jsx
  hasher-matcher-actioner/webapp/src/components/OpinionTableCell.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/pages/Dashboard.jsx
  hasher-matcher-actioner/webapp/src/pages/Matches.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/SignalSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/react-app-env.d.ts
  hasher-matcher-actioner/webapp/src/utils/TextFieldsUtils.jsx
  hasher-matcher-actioner/webapp/tsconfig.json
Labels: CLA Signed, hma, hma-ui

#694 git ignore react file
  .gitignore
  hasher-matcher-actioner/webapp/src/react-app-env.d.ts
Labels: CLA Signed, hma, hma-ui

#688 Standardize on UI terminology
  hasher-matcher-actioner/webapp/src/components/ContentMatchTable.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#695 [hma][tf] Move sample data upload to after indexer creation
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
Labels: CLA Signed, hma

#696 [hma][script] refactors and increase utility in test scripts
  hasher-matcher-actioner/scripts/get_auth_token
  hasher-matcher-actioner/scripts/listener.py
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/scripts/soak_test_system
  hasher-matcher-actioner/scripts/submit_content_test.py
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/variables.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#699 [hma] Update package.json dep versions
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
Labels: CLA Signed, hma, hma-ui

#700 [hma] Prompt the user if terraform/backend.tf doesn't exist
  hasher-matcher-actioner/Makefile
Labels: CLA Signed, hma

#693 PDQ Hasher now supports directly downloading images, bypassing S3 completely.
  hasher-matcher-actioner/.devcontainer/bashrc
  hasher-matcher-actioner/.devcontainer/devcontainer.json
  hasher-matcher-actioner/.devcontainer/zshrc
  hasher-matcher-actioner/hmalib/common/aws_dataclass.py
  hasher-matcher-actioner/hmalib/common/content_models.py
  hasher-matcher-actioner/hmalib/common/image_sources.py
  hasher-matcher-actioner/hmalib/common/message_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_content_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_image_sources.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/mypy.ini
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/variables.tf
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
Labels: CLA Signed, hma, hma-ui

#703 [hma][tf] fix sqs queue_batch_size inconsistency (null wasn't good enough)
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#702 [hma][scripts] Create interactive shell and expand functionality of soak test
  hasher-matcher-actioner/scripts/listener.py
  hasher-matcher-actioner/scripts/soak_test_system
Labels: CLA Signed, hma
