Repository facebook/ThreatExchange, pull requests merged in 2021-09, with the labels that each got.

#780 [pytx] added pdf capabilities
  python-threatexchange/data/test_pdf_complete.pdf
  python-threatexchange/data/test_pdf_half.pdf
  python-threatexchange/setup.py
  python-threatexchange/threatexchange/content_type/meta.py
  python-threatexchange/threatexchange/content_type/pdf.py
  python-threatexchange/threatexchange/signal_type/tests/test_tlsh_hash_and_match.py
  python-threatexchange/threatexchange/signal_type/tlsh_pdf.py
Labels: CLA Signed, python-threatexchange

#789 package lock
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
Labels: CLA Signed, hma, hma-ui

#788 update populate_config_db.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
Labels: CLA Signed, hma

#790 [hma][api] Adjust auth lambda and add to dashboard
  hasher-matcher-actioner/hmalib/lambdas/api/api_auth.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/outputs.tf
  hasher-matcher-actioner/terraform/dashboard/main.tf
  hasher-matcher-actioner/terraform/dashboard/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#792 [hma][api] remove fields from MatchesForHashResponse matches
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
Labels: CLA Signed, hma

#793 Make Actions and ActionRules Settings pages update automatically
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/WebhookActioner.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.tsx
  hasher-matcher-actioner/webapp/src/pages/Settings.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.tsx
Labels: CLA Signed, hma, hma-ui

#794 Bank create view apis
  hasher-matcher-actioner/.dockerignore
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/datastore/main.tf
  hasher-matcher-actioner/terraform/datastore/outputs.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#798 [hma][api] update API method docstrings + add helper script
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/lambdas/api/action_rules.py
  hasher-matcher-actioner/hmalib/lambdas/api/actions.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/stats.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/metrics/query.py
  hasher-matcher-actioner/scripts/hma_client_lib.py
  hasher-matcher-actioner/scripts/hma_shell
  hasher-matcher-actioner/scripts/print_hmalib_endpoints.py
Labels: CLA Signed, hma

#797 [hma][api] update root reply to include LastModified
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/terraform/api/main.tf
Labels: CLA Signed, hma

#799 [banks][ui] view-all, add and edit banks
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/App.tsx
  hasher-matcher-actioner/webapp/src/Sidebar.tsx
  hasher-matcher-actioner/webapp/src/forms/BankDetailsForm.tsx
  hasher-matcher-actioner/webapp/src/messages/BankMessages.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/AddBankModal.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewAllBanks.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBank.tsx
  hasher-matcher-actioner/webapp/src/pages/layouts/FixedWidthCenterAlignedLayout.tsx
  hasher-matcher-actioner/webapp/src/utils/MediaUtils.tsx
Labels: CLA Signed, hma, hma-ui

#795 Refactor ActionRules
  hasher-matcher-actioner/hmalib/common/configs/actioner.py
  hasher-matcher-actioner/hmalib/common/configs/evaluator.py
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.tsx
Labels: CLA Signed, hma, hma-ui

#800 bug: Get progress page to auto-refresh
  hasher-matcher-actioner/webapp/src/pages/ContentDetailsWithStepper.tsx
Labels: CLA Signed, hma, hma-ui

#802 [hma][ui] update package-lock.json to avoid vulnerability
  hasher-matcher-actioner/webapp/.prettierrc.json
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
Labels: CLA Signed, hma, hma-ui

#806 Add commit message to multi-part-pull-request script
  hasher-matcher-actioner/scripts/multi_part_pull_request_template
Labels: CLA Signed, hma

#805 Bank video members
  hasher-matcher-actioner/PR.md
  hasher-matcher-actioner/cf074dd8-18b3-4b5e-8859-0a1f48426235.png
  hasher-matcher-actioner/git-split.sh
  hasher-matcher-actioner/run_add_hashes.py
  hasher-matcher-actioner/run_api.py
  hasher-matcher-actioner/run_fetcher.py
  hasher-matcher-actioner/run_hasher.py
  hasher-matcher-actioner/run_indexer.py
  hasher-matcher-actioner/run_matcher.py
  hasher-matcher-actioner/run_models.py
  hasher-matcher-actioner/webapp/src/components/ContentMatchPane.tsx
  hasher-matcher-actioner/webapp/src/components/ContentPreview.tsx
  hasher-matcher-actioner/webapp/src/forms/BankMemberForm.tsx
  hasher-matcher-actioner/webapp/src/forms/PreviewableDropzone.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/AddBankMemberModal.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/Members.tsx
  hasher-matcher-actioner/webapp/src/styles/_dropzone.scss
  hasher-matcher-actioner/webapp/src/styles/_media_blur.scss
  hasher-matcher-actioner/webapp/src/utils/MediaUtils.tsx
Labels: CLA Signed, hma, hma-ui

#807 Remove local runners and a sample image
  hasher-matcher-actioner/cf074dd8-18b3-4b5e-8859-0a1f48426235.png
  hasher-matcher-actioner/git-split.sh
  hasher-matcher-actioner/run_add_hashes.py
  hasher-matcher-actioner/run_api.py
  hasher-matcher-actioner/run_fetcher.py
  hasher-matcher-actioner/run_hasher.py
  hasher-matcher-actioner/run_indexer.py
  hasher-matcher-actioner/run_matcher.py
  hasher-matcher-actioner/run_models.py
Labels: CLA Signed, hma

#808 Fetch env vars for your prefix and run lambdas locally
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/PR.md
  hasher-matcher-actioner/hmalib/scripts/cli/command_base.py
  hasher-matcher-actioner/hmalib/scripts/cli/main.py
  hasher-matcher-actioner/hmalib/scripts/cli/run_lambda.py
  hasher-matcher-actioner/hmalib/scripts/cli/shell.py
  hasher-matcher-actioner/hmalib/scripts/cli/soak.py
  hasher-matcher-actioner/hmalib/scripts/common/client_lib.py
  hasher-matcher-actioner/hmalib/scripts/common/utils.py
Labels: CLA Signed, hma

#809 Run API locally + instructions on using the scripts
  hasher-matcher-actioner/CONTRIBUTING.md
  hasher-matcher-actioner/hmalib/scripts/cli/main.py
  hasher-matcher-actioner/hmalib/scripts/cli/run_api.py
Labels: CLA Signed, hma

#787 Workplace Integration
  hasher-matcher-actioner/example_integrations/workplace.py
  hasher-matcher-actioner/example_integrations/workplace.tf
Labels: CLA Signed, hma

#810 Hash and write BankMemberSignal objects when a member is added
  hasher-matcher-actioner/hmalib/banks/bank_operations.py
  hasher-matcher-actioner/hmalib/common/messages/bank.py
  hasher-matcher-actioner/hmalib/common/messages/submit.py
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/common/models/models_base.py
  hasher-matcher-actioner/hmalib/common/models/tests/ddb_test_common.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_bank_member_signals_to_process.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_pipeline_models.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_signal_uniqueness.py
  hasher-matcher-actioner/hmalib/hashing/unified_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/tests/test_bank_member_pagination.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
  hasher-matcher-actioner/hmalib/lambdas/matcher.py
  hasher-matcher-actioner/terraform/datastore/main.tf
  hasher-matcher-actioner/terraform/hasher/main.tf
  hasher-matcher-actioner/terraform/hasher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#812 tmk: handle input filenames with shell metacharacters
  tmk/cpp/hashing/filehasher.cpp
Labels: CLA Signed

#813 pdq: add -Wno-misleading-indentation for CImg
  pdq/cpp/Makefile
Labels: CLA Signed, pdq

#816 Remove providers from all but the root main.tf file
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/terraform/indexer/main.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/variables.tf
Labels: CLA Signed, hma

#817 [hma][api] API to get bank_members with signals
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/terraform/datastore/main.tf
  hasher-matcher-actioner/webapp/src/forms/BankDetailsForm.tsx
  hasher-matcher-actioner/webapp/src/forms/BankMemberForm.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBank.tsx
  hasher-matcher-actioner/webapp/src/styles/_app.scss
  hasher-matcher-actioner/webapp/src/styles/_themed-form.scss
Labels: CLA Signed, hma, hma-ui

#811 Support adding hashes to PDQIndex, TrivialSignalTypeIndex
  python-threatexchange/benchmarks/benchmark_pdq_faiss_matchers.py
  python-threatexchange/tests/hashing/test_index_updates.py
  python-threatexchange/tests/hashing/test_pdq_faiss_matcher.py
  python-threatexchange/threatexchange/hashing/pdq_faiss_matcher.py
  python-threatexchange/threatexchange/signal_type/index.py
  python-threatexchange/threatexchange/signal_type/pdq_index.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
Labels: CLA Signed, python-threatexchange

#814 include <stdexcept> where necessary
  pdq/cpp/index/mih.h
  tmk/cpp/hashing/bufferhashers.cpp
  tmk/cpp/raster/timeresamplers.h
Labels: CLA Signed, pdq

#818 v0.0.24: support updating PDQ and Trivial indexes
  python-threatexchange/version.txt
Labels: python-threatexchange

#820 Remove usage of region as a variable,
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/counters/variables.tf
  hasher-matcher-actioner/terraform/dashboard/main.tf
  hasher-matcher-actioner/terraform/dashboard/variables.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/hasher/variables.tf
  hasher-matcher-actioner/terraform/hashing-data/variables.tf
  hasher-matcher-actioner/terraform/indexer/variables.tf
  hasher-matcher-actioner/terraform/matcher/variables.tf
Labels: hma
