Repository facebook/ThreatExchange, pull requests merged in 2021-03, with the labels that each got.

#389 [py-tx] Better hashing interfaces
  python-threatexchange/threatexchange/cli/hash_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/pdq_ocr.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
Labels: CLA Signed, python-threatexchange

#388 [ise][hma-lite] config
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  hasher-matcher-actioner/hma-lite/hmalite/config.py
  python-threatexchange/threatexchange/hashing/pdq_faiss_matcher.py
  python-threatexchange/threatexchange/signal_type/pdq_index.py
Labels: CLA Signed, hma, python-threatexchange

#390 [hmalite] Api more
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  hasher-matcher-actioner/hma-lite/hmalite/config.py
  hasher-matcher-actioner/hma-lite/hmalite/index.py
  hasher-matcher-actioner/hma-lite/hmalite/matcher.py
Labels: CLA Signed, hma

#392 Remove unused steps from master CI workflow
  .github/workflows/hma-ci-master-push.yaml
Labels: CLA Signed

#393 Adds tests script for deployed hma
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/hmalib/dto.py
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/outputs.tf
  hasher-matcher-actioner/tests/data/b.jpg
  hasher-matcher-actioner/tests/scripts/check_deployed_instance.py
Labels: CLA Signed, hma

#391 [hma] Upload sample data
  hasher-matcher-actioner/sample_data/README.md
  hasher-matcher-actioner/sample_data/pdq.csv
  hasher-matcher-actioner/sample_data/pdq_ocr.csv
  hasher-matcher-actioner/sample_data/photo_md5.csv
  hasher-matcher-actioner/sample_data/raw_text.csv
  hasher-matcher-actioner/sample_data/trend_query.csv
  hasher-matcher-actioner/sample_data/url.csv
  hasher-matcher-actioner/sample_data/video_md5.csv
  hasher-matcher-actioner/sample_data/video_tmk_pdqf.csv
Labels: CLA Signed, hma

#397 [hmalite] Add sample data to the hmalite image
  hasher-matcher-actioner/hma-lite/Dockerfile
  hasher-matcher-actioner/hma-lite/requirements.txt
  hasher-matcher-actioner/hma-lite/sample_data/README.md
  hasher-matcher-actioner/hma-lite/sample_data/pdq.csv
  hasher-matcher-actioner/hma-lite/sample_data/pdq_ocr.csv
  hasher-matcher-actioner/hma-lite/sample_data/photo_md5.csv
  hasher-matcher-actioner/hma-lite/sample_data/raw_text.csv
  hasher-matcher-actioner/hma-lite/sample_data/trend_query.csv
  hasher-matcher-actioner/hma-lite/sample_data/url.csv
  hasher-matcher-actioner/hma-lite/sample_data/video_md5.csv
  hasher-matcher-actioner/hma-lite/sample_data/video_tmk_pdqf.csv
Labels: CLA Signed, hma

#399 Mini-library to measure execution durations and publish to cloudwatch
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
  hasher-matcher-actioner/hmalib/metrics/cloudwatch.py
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/variables.tf
  hasher-matcher-actioner/terraform/variables.tf
  hasher-matcher-actioner/tests/scripts/gen-fake-cloudwatch-metrics.py
Labels: CLA Signed, hma

#398 used signal_type index and generalize hashstore
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/hmalib/dto.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/storage/__init__.py
  hasher-matcher-actioner/hmalib/storage/hashstore.py
Labels: CLA Signed, hma

#400 Updated html templates using bootstrap
  hasher-matcher-actioner/hma-lite/hmalite/templates/index.html
  hasher-matcher-actioner/hma-lite/hmalite/templates/results.html
Labels: CLA Signed, hma

#401 First running version of the HMA UI.
  hasher-matcher-actioner/webapp/.gitignore
  hasher-matcher-actioner/webapp/.watchmanconfig
  hasher-matcher-actioner/webapp/README.md
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/public/index.html
  hasher-matcher-actioner/webapp/src/App.js
  hasher-matcher-actioner/webapp/src/App.test.js
  hasher-matcher-actioner/webapp/src/index.js
  hasher-matcher-actioner/webapp/src/setupTests.js
Labels: CLA Signed, hma

#402 Create Boilerplate code for TE Fetcher
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
Labels: CLA Signed, hma

#405 HTTP API Gateway with a hello world lambda integration
  hasher-matcher-actioner/hmalib/lambdas/api/__init__.py
  hasher-matcher-actioner/hmalib/lambdas/api/status_api.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/outputs.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#406 [hma] terraform for fetch configs
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#409 Root terraform support additional_tags
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#407 Webapp initial terraform implementation
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/webapp/main.tf
  hasher-matcher-actioner/terraform/webapp/outputs.tf
  hasher-matcher-actioner/terraform/webapp/variables.tf
Labels: CLA Signed, hma

#410 [docs] Update README.md
  hasher-matcher-actioner/hma-lite/README.md
Labels: CLA Signed, hma

#404 Update root README
  README.md
Labels: CLA Signed

#412 [hma][fetcher] Read collab configs
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
Labels: CLA Signed, hma

#414 [hma][terraform] Fix syntax errors in fetcher
  hasher-matcher-actioner/terraform/fetcher/main.tf
Labels: CLA Signed, hma

#415 add simple routes
  hasher-matcher-actioner/hmalib/lambdas/api/status_api.py
  hasher-matcher-actioner/requirements.txt
  hasher-matcher-actioner/terraform/api/main.tf
Labels: CLA Signed, hma

#420 Support image file bytes as input to PDQ hashing
  python-threatexchange/tests/hashing/test_pdq_hasher.py
  python-threatexchange/threatexchange/hashing/pdq_hasher.py
Labels: CLA Signed, python-threatexchange

#411 script: storm images queue with mock upload events
  hasher-matcher-actioner/scripts/storm_images_queue
Labels: CLA Signed, hma

#421 ThreatExchange v0.0.15
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#419 Adds new simple auth and upload endpoint
  hasher-matcher-actioner/hmalib/lambdas/api/api_auth.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#423 Update logging in lambdas and run formatter
  hasher-matcher-actioner/hmalib/common.py
  hasher-matcher-actioner/hmalib/dto.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_auth.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
  hasher-matcher-actioner/hmalib/metrics/cloudwatch.py
Labels: CLA Signed, hma

#417 Create python file to load secrets
  hasher-matcher-actioner/hmalib/aws_secrets.py
Labels: CLA Signed, hma

#424 Store TE api access token in AWS as a secret
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#425 PDQ Hash photos without temporary files
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/requirements.txt
Labels: CLA Signed, hma

#422 [py-tx] Fix bug with sample fetch from match
  python-threatexchange/threatexchange/cli/match.py
Labels: CLA Signed, python-threatexchange

#418 Add details on how to build docker based on local python-threatexchange
  hasher-matcher-actioner/CONTRIBUTING.md
Labels: CLA Signed, hma

#427 Webapp wireframe prototype v0.
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/public/index.html
  hasher-matcher-actioner/webapp/src/App.js
  hasher-matcher-actioner/webapp/src/index.js
Labels: CLA Signed, hma

#428 Reorganized components into separate modules.
  hasher-matcher-actioner/webapp/src/App.js
  hasher-matcher-actioner/webapp/src/Dashboard.js
  hasher-matcher-actioner/webapp/src/MatchDetails.js
  hasher-matcher-actioner/webapp/src/Matches.js
  hasher-matcher-actioner/webapp/src/Settings.js
  hasher-matcher-actioner/webapp/src/Signals.js
  hasher-matcher-actioner/webapp/src/Upload.js
Labels: CLA Signed, hma

#429 [hma] Call API from UI
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/variables.tf
  hasher-matcher-actioner/webapp/src/Matches.js
Labels: CLA Signed, hma

#431 Update aws_secretsmanager_secret.recovery_window_in_days to 0 for easy apply/destroy
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/fetcher/main.tf
Labels: CLA Signed, hma

#432 Update codeowners, labeler, and workflow
  .github/labeler.yml
  .github/workflows/hmalib-ci.yaml
  CODEOWNERS
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
Labels: CLA Signed, hma

#435 [hma][ui] Add reference to actioner action in mock
  hasher-matcher-actioner/webapp/src/MatchDetails.js
Labels: CLA Signed, hma

#430 add Api.js and connect upload image to UI
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/webapp/src/Api.js
  hasher-matcher-actioner/webapp/src/Matches.js
  hasher-matcher-actioner/webapp/src/Upload.js
Labels: CLA Signed, hma, hma-ui

#434 Make fetch pull from te and save locally
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  python-threatexchange/threatexchange/cli/experimental_fetch.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: CLA Signed, hma, python-threatexchange

#436 [HMA] mypy fixes; black, py.test, mypy in CI; rename dtos -> models
  .github/workflows/hma-ci-pull-request.yaml
  .gitignore
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
  hasher-matcher-actioner/hmalib/metrics/cloudwatch.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/mypy.ini
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/tests/scripts/gen-fake-cloudwatch-metrics.py
  hasher-matcher-actioner/tests/test_sample.py
Labels: CLA Signed, hma

#433 [HMA-UI] add eslint and prettier ci action for webapp
  .github/workflows/hma-webapp-ci.yaml
  hasher-matcher-actioner/webapp/.eslintrc.json
  hasher-matcher-actioner/webapp/.prettierignore
  hasher-matcher-actioner/webapp/.prettierrc.json
  hasher-matcher-actioner/webapp/README.md
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/App.js
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/App.test.jsx
  hasher-matcher-actioner/webapp/src/Dashboard.js
  hasher-matcher-actioner/webapp/src/Dashboard.jsx
  hasher-matcher-actioner/webapp/src/MatchDetails.js
  hasher-matcher-actioner/webapp/src/MatchDetails.jsx
  hasher-matcher-actioner/webapp/src/Matches.js
  hasher-matcher-actioner/webapp/src/Matches.jsx
  hasher-matcher-actioner/webapp/src/Settings.jsx
  hasher-matcher-actioner/webapp/src/Signals.jsx
  hasher-matcher-actioner/webapp/src/Upload.js
  hasher-matcher-actioner/webapp/src/Upload.jsx
  hasher-matcher-actioner/webapp/src/index.jsx
  hasher-matcher-actioner/webapp/src/setupTests.jsx
Labels: CLA Signed, hma, hma-ui

#437 Fetcher syncer
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: CLA Signed, hma, python-threatexchange

#441 Revert "Bump Pyte version after changes"
  python-threatexchange/setup.py
Labels: CLA Signed, python-threatexchange

#442 [HMA] Make te default source and generalize dynamo key value for match
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/tests/scripts/check_deployed_instance.py
  hasher-matcher-actioner/tests/scripts/gen_fake_cloudwatch_metrics.py
Labels: CLA Signed, hma

#443 [hma] Make build work for windows
  hasher-matcher-actioner/webapp/.eslintrc.json
  hasher-matcher-actioner/webapp/.prettierrc.json
  hasher-matcher-actioner/webapp/package-lock.json
Labels: CLA Signed, hma, hma-ui

#445 [hma] Wrap hmalib with setup, install with pip
  hasher-matcher-actioner/Dockerfile
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/requirements.txt
  hasher-matcher-actioner/setup.py
  python-threatexchange/setup.py
Labels: CLA Signed, hma, python-threatexchange

#444 Add Cognito authorization vi Amplify sdk and related compensating changes.
  hasher-matcher-actioner/hmalib/lambdas/api/api_auth.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/outputs.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/authentication/main.tf
  hasher-matcher-actioner/terraform/authentication/outputs.tf
  hasher-matcher-actioner/terraform/authentication/variables.tf
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/terraform.tfvars.example
  hasher-matcher-actioner/terraform/variables.tf
  hasher-matcher-actioner/terraform/webapp/main.tf
  hasher-matcher-actioner/webapp/.env.example
  hasher-matcher-actioner/webapp/.gitignore
  hasher-matcher-actioner/webapp/README.md
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Matches.jsx
  hasher-matcher-actioner/webapp/src/index.jsx
Labels: CLA Signed, hma, hma-ui

#449 Webapp make a clean "prod" terraform work + webapp minor fixes
  hasher-matcher-actioner/terraform/authentication/main.tf
  hasher-matcher-actioner/terraform/terraform.tfvars.example
  hasher-matcher-actioner/terraform/webapp/main.tf
  hasher-matcher-actioner/webapp/.env.example
  hasher-matcher-actioner/webapp/README.md
  hasher-matcher-actioner/webapp/src/App.jsx
Labels: CLA Signed, hma, hma-ui

#448 [HMA] rename Timestamp to UpdatedAt and expand models for querying
  .github/workflows/hma-ci-pull-request.yaml
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/__init__.py
  hasher-matcher-actioner/hmalib/tests/test_models.py
  hasher-matcher-actioner/mypy.ini
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/tests/scripts/__init__.py
Labels: CLA Signed, hma

#453 Linters
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/mypy.ini
  python-threatexchange/README.md
Labels: CLA Signed, hma, python-threatexchange

#452 [hma] add upload test data make command
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/sample_data/pdq.csv
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/outputs.tf
Labels: CLA Signed, hma

#451 Make fetcher work
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#450 [hma][ui] Settings mock
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/src/Settings.jsx
Labels: CLA Signed, hma, hma-ui

#457 Move Fetcher frequency variable to top level
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#456 Upload test configs
  hasher-matcher-actioner/terraform/collabs_example.json
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/populate_config_db.sh
  hasher-matcher-actioner/terraform/terraform.tfvars.example
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#459 Split python dependency and library into docker layers
  hasher-matcher-actioner/Dockerfile
Labels: CLA Signed, hma

#454 [HMA] clean up matches and hash api
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/webapp/src/Matches.jsx
Labels: CLA Signed, hma, hma-ui

#458 Cognito: fix callback & sign out urls; add domain
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/authentication/main.tf
  hasher-matcher-actioner/terraform/authentication/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/terraform.tfvars.example
  hasher-matcher-actioner/terraform/variables.tf
  hasher-matcher-actioner/terraform/webapp/main.tf
  hasher-matcher-actioner/terraform/webapp/outputs.tf
  hasher-matcher-actioner/terraform/webapp/variables.tf
Labels: CLA Signed, hma

#461 [HMA-UI] Connect Match Details Page to API
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/MatchDetails.jsx
  hasher-matcher-actioner/webapp/src/Matches.jsx
  hasher-matcher-actioner/webapp/src/utils/DateTimeUtils.jsx
  hasher-matcher-actioner/webapp/src/utils/ImageUtils.jsx
  hasher-matcher-actioner/webapp/src/utils/TextFieldsUtils.jsx
Labels: CLA Signed, hma, hma-ui
