Repository facebook/ThreatExchange, pull requests merged in 2021-08, with the labels that each got.

#741 [hma][scripts] add dev_test_instance make command
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/scripts/set_tf_outputs_in_local_env.sh
  hasher-matcher-actioner/scripts/submit_content_test.py
Labels: CLA Signed, hma

#745 [hma][ui] Update additional fields in submit form to reflect API backend.
  hasher-matcher-actioner/webapp/src/components/SubmitContentFields.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
Labels: CLA Signed, hma, hma-ui

#742 Send additional fields in Action responses
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/message_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/terraform/actions/main.tf
Labels: CLA Signed, hma

#743 Use Additional Fields In ActionRules
  hasher-matcher-actioner/hmalib/common/classification_models.py
  hasher-matcher-actioner/hmalib/common/message_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_action_rule_evaluation.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.tsx
Labels: CLA Signed, hma, hma-ui

#746 Fix Content ID Bug In Partner Bucket Uploads
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
Labels: CLA Signed, hma

#747 [hma][ui] Remove old upload endpoint and page
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Upload.jsx
Labels: CLA Signed, hma, hma-ui

#748 [hma][ui] Remove old direct upload option
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed

#750 [hma][api] Split submit API into different paths for each submission type.
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/scripts/get_auth_token
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/scripts/submit_s3_bucket
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed, hma, hma-ui

#749 [Video MD5 support] PR 3/3:
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/content_models.py
  hasher-matcher-actioner/hmalib/common/content_sources.py
  hasher-matcher-actioner/hmalib/common/mappings.py
  hasher-matcher-actioner/hmalib/common/message_models.py
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/common/tests/__init__.py
  hasher-matcher-actioner/hmalib/common/tests/ddb_test_common.py
  hasher-matcher-actioner/hmalib/common/tests/test_content_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_content_sources.py
  hasher-matcher-actioner/hmalib/common/tests/test_s3_adapters.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/hashing/__init__.py
  hasher-matcher-actioner/hmalib/hashing/unified_hasher.py
  hasher-matcher-actioner/hmalib/indexers/__init__.py
  hasher-matcher-actioner/hmalib/indexers/s3_indexers.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
  hasher-matcher-actioner/hmalib/lambdas/matcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/lambdas/unified_indexer.py
  hasher-matcher-actioner/hmalib/matchers/__init__.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_pipeline_models.py
  hasher-matcher-actioner/scripts/multi_part_pull_request_template
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/setup.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/datastore/main.tf
  hasher-matcher-actioner/terraform/hasher/main.tf
  hasher-matcher-actioner/terraform/hasher/variables.tf
  hasher-matcher-actioner/terraform/indexer/main.tf
  hasher-matcher-actioner/terraform/indexer/outputs.tf
  hasher-matcher-actioner/terraform/indexer/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/matcher/main.tf
  hasher-matcher-actioner/terraform/matcher/variables.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/outputs.tf
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchPane.jsx
  hasher-matcher-actioner/webapp/src/components/SubmitContentFields.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed, hma, hma-ui

#757 `ContentObject` queries no longer require `content_type` #756
  hasher-matcher-actioner/hmalib/common/content_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_content_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchPane.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
Labels: CLA Signed, hma, hma-ui

#758 [hma][hotfix] fix non-url submissions
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
Labels: CLA Signed, hma

#759 [hma][scripts] refactor helper script libs and add hma_shell cli
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/scripts/get_auth_token
  hasher-matcher-actioner/scripts/hma_client_lib.py
  hasher-matcher-actioner/scripts/hma_script_utils.py
  hasher-matcher-actioner/scripts/hma_shell
  hasher-matcher-actioner/scripts/soak_test_system
  hasher-matcher-actioner/scripts/storm_submissions_api
  hasher-matcher-actioner/scripts/submit_s3_bucket
  hasher-matcher-actioner/scripts/submitter.py
Labels: CLA Signed, hma

#761 [hma][api] Add option to submit PDQ hashes directly
  hasher-matcher-actioner/hmalib/common/content_models.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/scripts/hma_client_lib.py
  hasher-matcher-actioner/scripts/hma_script_utils.py
  hasher-matcher-actioner/scripts/hma_shell
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/hasher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/matcher/variables.tf
Labels: CLA Signed, hma

#765 [hma] update additional_field placeholder for content object and explain why it exists
  hasher-matcher-actioner/hmalib/common/content_models.py
Labels: CLA Signed, hma

#764 [hma][small] Update `post_url` to `put-url` to be clearer and match convention
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/scripts/hma_script_utils.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed, hma, hma-ui

#762 [hma][api] add get matches for raw hash endpoint
  hasher-matcher-actioner/hmalib/common/signal_models.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#763 [multipart] video previews and content progress page
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/webapp/.eslintrc.json
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchPane.jsx
  hasher-matcher-actioner/webapp/src/components/ContentPreview.tsx
  hasher-matcher-actioner/webapp/src/components/ContentProgressStepper.tsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetailsWithStepper.tsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/pages/layouts/FixedWidthCenterAlignedLayout.tsx
  hasher-matcher-actioner/webapp/src/styles/_media_blur.scss
  hasher-matcher-actioner/webapp/src/styles/_progress-stepper.scss
  hasher-matcher-actioner/webapp/src/utils/DateTimeUtils.jsx
  hasher-matcher-actioner/webapp/src/utils/ImageUtils.jsx
  hasher-matcher-actioner/webapp/src/utils/MediaUtils.tsx
  hasher-matcher-actioner/webapp/src/utils/TextFieldsUtils.jsx
  hasher-matcher-actioner/webapp/src/utils/TextFieldsUtils.tsx
  hasher-matcher-actioner/webapp/src/utils/constants.ts
Labels: CLA Signed, hma, hma-ui

#766 Chronological output of commits in `multi_part_pull_request_template` script
  hasher-matcher-actioner/scripts/multi_part_pull_request_template
Labels: CLA Signed, hma

#767 [hma] add resubmit arg to submission requests and require it if content_id is found.
  hasher-matcher-actioner/hmalib/common/content_models.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
Labels: CLA Signed, hma, hma-ui

#769 Link submission to pipeline progress; pipeline progress to content de…
  hasher-matcher-actioner/webapp/src/components/SubmitContentFields.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetailsWithStepper.tsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
Labels: CLA Signed, hma, hma-ui

#770 Consolidate HMA GitHub actions
  .github/workflows/hma-ci-main-push.yaml
  .github/workflows/hma-ci.yaml
  .github/workflows/hmalib-ci.yaml
Labels: CLA Signed

#771 Separate models from representations
  hasher-matcher-actioner/hmalib/common/README.md
  hasher-matcher-actioner/hmalib/common/configs/__init__.py
  hasher-matcher-actioner/hmalib/common/configs/actioner.py
  hasher-matcher-actioner/hmalib/common/configs/evaluator.py
  hasher-matcher-actioner/hmalib/common/configs/fetcher.py
  hasher-matcher-actioner/hmalib/common/message_models.py
  hasher-matcher-actioner/hmalib/common/messages/__init__.py
  hasher-matcher-actioner/hmalib/common/messages/action.py
  hasher-matcher-actioner/hmalib/common/messages/match.py
  hasher-matcher-actioner/hmalib/common/messages/submit.py
  hasher-matcher-actioner/hmalib/common/messages/writeback.py
  hasher-matcher-actioner/hmalib/common/models/__init__.py
  hasher-matcher-actioner/hmalib/common/models/content.py
  hasher-matcher-actioner/hmalib/common/models/signal.py
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/common/tests/test_action_rule_evaluation.py
  hasher-matcher-actioner/hmalib/common/tests/test_actioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_content_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/actions/writebacker.py
  hasher-matcher-actioner/hmalib/lambdas/api/action_rules_api.py
  hasher-matcher-actioner/hmalib/lambdas/api/actions_api.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
  hasher-matcher-actioner/hmalib/lambdas/match_counter.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/hmalib/tests/test_pipeline_models.py
  hasher-matcher-actioner/hmalib/writebacker/__init__.py
  hasher-matcher-actioner/hmalib/writebacker/writebacker_base.py
  hasher-matcher-actioner/webapp/src/pages/ContentDetailsWithStepper.tsx
Labels: CLA Signed, hma, hma-ui

#772 Leftovers from splitting models.py
  hasher-matcher-actioner/hmalib/common/messages/tests/test_actioner_messages.py
  hasher-matcher-actioner/hmalib/common/models/content.py
  hasher-matcher-actioner/hmalib/common/models/models_base.py
  hasher-matcher-actioner/hmalib/common/models/pipeline.py
  hasher-matcher-actioner/hmalib/common/models/signal.py
  hasher-matcher-actioner/hmalib/common/models/tests/ddb_test_common.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_content_models.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_pipeline_models.py
  hasher-matcher-actioner/hmalib/hashing/unified_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
  hasher-matcher-actioner/hmalib/lambdas/matcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/hmalib/tests/__init__.py
  hasher-matcher-actioner/hmalib/writebacker/tests/test_writebacker.py
Labels: CLA Signed, hma

#775 [pytx] Fix problem with installing wrong version of urllib library
  python-threatexchange/setup.py
Labels: CLA Signed, python-threatexchange

#773 Make PDQSignalMetadata signal-type agnostic -> ThreatExchangeSignalMetadata
  hasher-matcher-actioner/hmalib/common/messages/writeback.py
  hasher-matcher-actioner/hmalib/common/models/signal.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_pipeline_models.py
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchTable.jsx
  hasher-matcher-actioner/webapp/src/components/OpinionChangeConfirmModal.jsx
  hasher-matcher-actioner/webapp/src/components/OpinionTableCell.jsx
Labels: CLA Signed, hma, hma-ui

#782 Support S3 ObjectCreate events in unified hasher; cleanup pdq-* components
  hasher-matcher-actioner/hmalib/common/messages/submit.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/datastore/main.tf
  hasher-matcher-actioner/terraform/hasher/main.tf
  hasher-matcher-actioner/terraform/hasher/outputs.tf
  hasher-matcher-actioner/terraform/hasher/variables.tf
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/terraform/hashing-data/outputs.tf
  hasher-matcher-actioner/terraform/hashing-data/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/matcher/outputs.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/outputs.tf
  hasher-matcher-actioner/terraform/pdq-signals/variables.tf
Labels: CLA Signed, hma

#783 hotfix: ensure open principals on queue policy when creating bucket notifications
  hasher-matcher-actioner/terraform/hashing-data/main.tf
Labels: CLA Signed, hma

#781 Parse URLs and headers in Actions
  hasher-matcher-actioner/hmalib/common/configs/actioner.py
  hasher-matcher-actioner/hmalib/common/tests/test_action_rule_evaluation.py
Labels: CLA Signed, hma

#784 [hma][api][auth] store API access token in aws_secret
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_auth.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#786 [hma][scripts] have test scripts use custom access tokens instead of user_pool
  hasher-matcher-actioner/scripts/get_auth_token
  hasher-matcher-actioner/scripts/hma_client_lib.py
  hasher-matcher-actioner/scripts/hma_script_utils.py
  hasher-matcher-actioner/scripts/hma_shell
  hasher-matcher-actioner/scripts/submitter.py
Labels: CLA Signed, hma

#785 [hma][api] generalize for-hash and fix to_json for match data
  hasher-matcher-actioner/hmalib/common/models/signal.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/middleware.py
Labels: CLA Signed, hma
