Repository facebook/ThreatExchange, pull requests merged in 2021-02, with the labels that each got.

#363 [py-tx] fix directory creation with experimental-fetch
  python-threatexchange/threatexchange/signal_type/signal_base.py
Labels: CLA Signed, python-threatexchange

#361 [py-tx] Don't reuse adapters
  python-threatexchange/threatexchange/TE.py
Labels: CLA Signed, python-threatexchange

#360 [py-tx] Paper over signal type deserialization errors
  python-threatexchange/threatexchange/cli/fetch.py
Labels: CLA Signed, python-threatexchange

#354 [hma] Add initial Makefile
  hasher-matcher-actioner/Makefile
Labels: CLA Signed, hma

#366 [py-tx] Trim newlines from .txtoken, better validation
  python-threatexchange/threatexchange/cli/main.py
Labels: CLA Signed, python-threatexchange

#367 [py-tx] Release version 0.12
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#368 [py-te] Add some simple tests to learn py.test
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/tests/cli_smoke_test.py
Labels: CLA Signed, python-threatexchange

#370 [py-tx] Add copyright header and move newest test file
  python-threatexchange/threatexchange/cli/tests/cli_smoke_test.py
Labels: CLA Signed, python-threatexchange

#371 First stab at pull-request, master-push gh actions
  .github/workflows/hma-master-push.yaml
  .github/workflows/hma-pull-request.yaml
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/scripts/write_backend_config.sh
Labels: CLA Signed, hma

#372 [py-tx] Big ol' Data Model and experimental-fetch Rewrite
  python-threatexchange/threatexchange/api.py
  python-threatexchange/threatexchange/cli/dataset/__init__.py
  python-threatexchange/threatexchange/cli/dataset/simple_serialization.py
  python-threatexchange/threatexchange/cli/experimental_fetch.py
  python-threatexchange/threatexchange/cli/fetch.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/dataset.py
  python-threatexchange/threatexchange/descriptor.py
  python-threatexchange/threatexchange/indicator.py
  python-threatexchange/threatexchange/signal_type/pdq_ocr.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: CLA Signed, python-threatexchange

#374 [py-tx] index base
  python-threatexchange/threatexchange/signal_type/index.py
Labels: CLA Signed, python-threatexchange

#373 [py-tx][high impact] Rename api methods
  python-threatexchange/threatexchange/api.py
  python-threatexchange/threatexchange/cli/fetch.py
  python-threatexchange/threatexchange/cli/label.py
  python-threatexchange/threatexchange/descriptor.py
Labels: CLA Signed, python-threatexchange

#375 Move lambdas to hmalib: a top-level python package
  hasher-matcher-actioner/Dockerfile
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/hmalib/__init__.py
  hasher-matcher-actioner/hmalib/lambdas/__init__.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/__init__.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/main.tf
  hasher-matcher-actioner/requirements.txt
  hasher-matcher-actioner/scripts/update_lambda_docker_image.sh
Labels: CLA Signed, hma

#377 Refactor hasher lambda, define hash store interface, mypy
  .gitignore
  hasher-matcher-actioner/hmalib/dto.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_hasher.py
  hasher-matcher-actioner/hmalib/storage/__init__.py
  hasher-matcher-actioner/hmalib/storage/hashstore.py
  hasher-matcher-actioner/mypy.ini
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/requirements.txt
Labels: CLA Signed, hma

#376 [py-tx] More progress towards indices, dataset command
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/experimental_fetch.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/dataset.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: CLA Signed, python-threatexchange

#378 Create dedicated terraform directory
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/scripts/write_backend_config.sh
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/backend.tf.example
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/terraform/hashing-data/outputs.tf
  hasher-matcher-actioner/terraform/hashing-data/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
  hasher-matcher-actioner/terraform/pdq-signals/outputs.tf
  hasher-matcher-actioner/terraform/pdq-signals/variables.tf
  hasher-matcher-actioner/terraform/terraform.tfvars.example
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#380 Working flask app with dockerfile
  hasher-matcher-actioner/hma-lite/Dockerfile
  hasher-matcher-actioner/hma-lite/config/uwsgi.ini
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  hasher-matcher-actioner/hma-lite/requirements.txt
Labels: CLA Signed, hma

#381 Add mock APIs for matching single and multiple hashes
  hasher-matcher-actioner/hma-lite/API.md
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  hasher-matcher-actioner/hma-lite/hmalite/matcher.py
Labels: CLA Signed, hma

#382 Adds pdq index wrap for faiss index lib to signal_type
  python-threatexchange/threatexchange/signal_type/index.py
  python-threatexchange/threatexchange/signal_type/pdq_index.py
  python-threatexchange/threatexchange/signal_type/tests/test_pdq_index.py
Labels: CLA Signed, python-threatexchange

#383 Add simple ui elements
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  hasher-matcher-actioner/hma-lite/hmalite/templates/index.html
Labels: CLA Signed, hma

#384 Clean up static page for hmalite and provide photo upload form
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  hasher-matcher-actioner/hma-lite/hmalite/templates/index.html
  hasher-matcher-actioner/hma-lite/hmalite/templates/results.html
Labels: CLA Signed, hma

#385 fix pdq_index.serialize to use bytestream param
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  python-threatexchange/threatexchange/signal_type/pdq_index.py
Labels: CLA Signed, hma, python-threatexchange

#386 [hmalite] flask config
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  hasher-matcher-actioner/hma-lite/hmalite/config.py
Labels: CLA Signed, hma

#387 black
  hasher-matcher-actioner/hma-lite/hmalite/app.py
  hasher-matcher-actioner/hma-lite/hmalite/matcher.py
Labels: CLA Signed, hma
