Repository facebook/ThreatExchange, pull requests merged in 2021-05, with the labels that each got.

#541 Fix broken PDQ license link
  pdq/README.md
Labels: CLA Signed, pdq

#542 Add zsh to devcontainer, track history for it
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/.devcontainer/bashrc
  hasher-matcher-actioner/.devcontainer/post-create
  hasher-matcher-actioner/.devcontainer/zshrc
Labels: CLA Signed

#544 Create datasets api
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#534 Writebacker framework
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/classification_models.py
  hasher-matcher-actioner/hmalib/common/evaluator_models.py
  hasher-matcher-actioner/hmalib/common/message_models.py
  hasher-matcher-actioner/hmalib/common/reactioner_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/reactioner.py
  hasher-matcher-actioner/hmalib/lambdas/actions/writebacker.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#545 [hma] enable naive url upload to submit api
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed, hma, hma-ui

#546 Create threat exchange tab
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/Settings.jsx
  hasher-matcher-actioner/webapp/src/components/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#547 Implement disabling/enabling writebacks
  hasher-matcher-actioner/hmalib/common/classification_models.py
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/common/evaluator_models.py
  hasher-matcher-actioner/hmalib/common/fetcher_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
  hasher-matcher-actioner/terraform/actions/main.tf
Labels: CLA Signed, hma

#551 Add description matcher active hmaconfig
  hasher-matcher-actioner/hmalib/common/fetcher_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#553 Create CLI Serializer with Indicator ID
  python-threatexchange/tests/hashing/test_pdq_hasher.py
  python-threatexchange/threatexchange/cli/dataset/simple_serialization.py
Labels: CLA Signed, python-threatexchange

#556 Bump to version 0.0.19
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#543 Actions rule config UI
  hasher-matcher-actioner/webapp/public/index.html
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Settings.jsx
  hasher-matcher-actioner/webapp/src/settings/ActionRuleSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/settings/ActionSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/styles/_app.scss
Labels: CLA Signed, hma, hma-ui

#554 [Multipart] Graphs and cloudwatch based counts for dashboard
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/stats.py
  hasher-matcher-actioner/hmalib/metrics/query.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Dashboard.jsx
  hasher-matcher-actioner/webapp/src/components/GraphWithNumberWidget.jsx
  hasher-matcher-actioner/webapp/src/pages/Dash.jsx
  hasher-matcher-actioner/webapp/src/utils/DateTimeUtils.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed, hma, hma-ui

#563 Various type issues in api.stats and metrics.query
  hasher-matcher-actioner/hmalib/lambdas/api/stats.py
  hasher-matcher-actioner/hmalib/metrics/query.py
Labels: CLA Signed, hma

#559 [hma] enable upload via presigned url
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/scripts/storm_submissions_api
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/Upload.jsx
Labels: CLA Signed, hma, hma-ui

#552 Convert Descriptor ID to Indicator ID
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_indexer.py
  hasher-matcher-actioner/setup.py
Labels: CLA Signed, hma

#562 Address miscellaneous comments left over from PR 543
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/pages/Settings.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/SignalSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
  hasher-matcher-actioner/webapp/src/styles/_app.scss
  hasher-matcher-actioner/webapp/src/styles/_settings.scss
Labels: CLA Signed, hma, hma-ui

#564 update sync/delete privacy groups response message
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
Labels: CLA Signed, hma

#566 Copydays information block in ThreatExchange settings page
  hasher-matcher-actioner/webapp/src/components/HolidaysDatasetInformationBlock.jsx
  hasher-matcher-actioner/webapp/src/pages/Settings.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#570 change the way of triggering tooltip
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
Labels: CLA Signed, hma, hma-ui

#571 DynamoDB Counts
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_pdq_models.py
Labels: CLA Signed, hma

#572 devcontainers: update dev container to handle custom dotfiles
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/.devcontainer/devcontainer.json
Labels: CLA Signed

#568 add headers to WebhookActionPerformer
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/scripts/populate_config_db.py
Labels: CLA Signed, hma

#575 [HMA] update allow rule
  hasher-matcher-actioner/terraform/pdq-signals/main.tf
Labels: CLA Signed, hma

#573 Action performer api
  hasher-matcher-actioner/hmalib/lambdas/api/actions_api.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
Labels: CLA Signed, hma

#569 Connect Api to writebacker
  hasher-matcher-actioner/hmalib/common/classification_models.py
  hasher-matcher-actioner/hmalib/common/message_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/writebacker.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/actions/outputs.tf
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#565 Remove dashboard APIs, Components and make new Dashboard the default route
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/stats.py
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Dashboard.jsx
  hasher-matcher-actioner/webapp/src/components/GraphWithNumberWidget.jsx
  hasher-matcher-actioner/webapp/src/pages/Dashboard.jsx
  hasher-matcher-actioner/webapp/src/utils/NumberUtils.jsx
Labels: CLA Signed, hma, hma-ui

#574 devcontainers: add less
  hasher-matcher-actioner/.devcontainer/Dockerfile
Labels: CLA Signed

#576 Implement False Positive Writebacks
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
Labels: CLA Signed, hma

#581 using standard way to naming apis
  hasher-matcher-actioner/hmalib/lambdas/api/actions_api.py
Labels: CLA Signed, hma

#577 Add FixedWidthCenterAlignedLayout layout and migrates some pages
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Upload.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
  hasher-matcher-actioner/webapp/src/pages/Dashboard.jsx
  hasher-matcher-actioner/webapp/src/pages/Signals.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/pages/layouts/FixedWidthCenterAlignedLayout.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#579 add last modified time, hash count
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#584 Delete descriptor
  python-threatexchange/threatexchange/api.py
Labels: CLA Signed, python-threatexchange

#591 [HMA] Make sample data match-able by creating pg config
  hasher-matcher-actioner/hmalib/common/fetcher_models.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
  hasher-matcher-actioner/sample_data/holidays-jpg1-pdq-hashes.csv
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/HolidaysDatasetInformationBlock.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#592 Edits to pytx3 necessary for writebacker
  python-threatexchange/threatexchange/api.py
Labels: CLA Signed, python-threatexchange

#585 Version 20
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#582 Implement True Positive Writebacks
  hasher-matcher-actioner/hmalib/common/mocks.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/writebacker.py
  hasher-matcher-actioner/setup.py
Labels: CLA Signed, hma

#587 fix matcher_active
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
Labels: CLA Signed, hma

#583 [HMA][Multipart] Content Object and ActionEvent Storage + API
  hasher-matcher-actioner/hmalib/common/content_models.py
  hasher-matcher-actioner/hmalib/common/evaluator_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_content_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/terraform/actions/main.tf
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
Labels: CLA Signed, hma, hma-ui

#597 Implement RemoveOpinion ThreatExchange Writebacker
  hasher-matcher-actioner/hmalib/common/mocks.py
  hasher-matcher-actioner/hmalib/common/tests/test_writebacker.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/writebacker.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
Labels: CLA Signed, hma

#590 Action Rules API
  hasher-matcher-actioner/hmalib/common/config.py
  hasher-matcher-actioner/hmalib/lambdas/api/action_rules_api.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/terraform/api/main.tf
Labels: CLA Signed, hma

#600 For 500 errors, log exception at api_root
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
Labels: CLA Signed, hma

#601 For match metrics, add and use correct metric
  hasher-matcher-actioner/hmalib/lambdas/api/stats.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
Labels: CLA Signed, hma

#603 Can't switch directly from TP <-> FP
  hasher-matcher-actioner/webapp/src/components/OpinionTableCell.jsx
Labels: CLA Signed, hma, hma-ui

#605 actions UI
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerColumns.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/WebhookActioner.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#604 Close the loop on Writebacks
  hasher-matcher-actioner/hmalib/common/signal_models.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/terraform/fetcher/main.tf
Labels: CLA Signed, hma

#611 Fix #604
  hasher-matcher-actioner/hmalib/common/signal_models.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
Labels: CLA Signed, hma

#608 [HMA] make pdq_matcher write of metadata be conditional
  hasher-matcher-actioner/hmalib/lambdas/pdq/pdq_matcher.py
  hasher-matcher-actioner/hmalib/models.py
Labels: CLA Signed, hma

#602 [HMA] store action performer as well in action event
  hasher-matcher-actioner/hmalib/common/actioner_models.py
  hasher-matcher-actioner/hmalib/common/content_models.py
  hasher-matcher-actioner/hmalib/common/tests/test_content_models.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_performer.py
Labels: CLA Signed, hma

#613 fix edit action issue
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.jsx
Labels: CLA Signed, hma, hma-ui

#610 Action Rules UI / API Integration
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#595 [HMA][MultiPart] Count matches per privacy group
  .github/workflows/hma-ci-pull-request.yaml
  hasher-matcher-actioner/hmalib/common/count_models.py
  hasher-matcher-actioner/hmalib/lambdas/match_counter.py
  hasher-matcher-actioner/hmalib/tests/test_pdq_models.py
  hasher-matcher-actioner/terraform/counters/main.tf
  hasher-matcher-actioner/terraform/counters/variables.tf
  hasher-matcher-actioner/terraform/datastore/main.tf
  hasher-matcher-actioner/terraform/datastore/outputs.tf
  hasher-matcher-actioner/terraform/datastore/variables.tf
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/terraform/hashing-data/outputs.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/outputs.tf
Labels: CLA Signed, hma

#618 change toast position to upper right
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#619 [HMA] Add count of matches / privacy group to API and to UI
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#622 Remove the SIgnals page from the App and the Sidebar
  hasher-matcher-actioner/webapp/src/App.jsx
  hasher-matcher-actioner/webapp/src/Sidebar.jsx
  hasher-matcher-actioner/webapp/src/pages/Signals.jsx
Labels: CLA Signed, hma, hma-ui

#617 [HMA] Replace Upload page and refresh Submit Page
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/Sidebar.jsx
  hasher-matcher-actioner/webapp/src/Upload.jsx
  hasher-matcher-actioner/webapp/src/components/SubmitContentFields.jsx
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.jsx
  hasher-matcher-actioner/webapp/src/utils/constants.jsx
Labels: CLA Signed, hma, hma-ui

#623 [hma] Add ActionHistoryTable to Details page
  hasher-matcher-actioner/webapp/src/components/ActionHistoryTable.jsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchTable.jsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.jsx
Labels: CLA Signed, hma, hma-ui

#625 [hma] clean up outdated scripts
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/scripts/gen_fake_cloudwatch_metrics.py
  hasher-matcher-actioner/scripts/populate_config_db
  hasher-matcher-actioner/tests/__init__.py
  hasher-matcher-actioner/tests/data/b.jpg
  hasher-matcher-actioner/tests/scripts/__init__.py
  hasher-matcher-actioner/tests/scripts/check_deployed_instance.py
Labels: CLA Signed, hma

#626 hotfix of storm script
  hasher-matcher-actioner/scripts/storm_submissions_api
Labels: CLA Signed, hma

#620 make action performer name and webhook type editable
  hasher-matcher-actioner/hmalib/lambdas/api/actions_api.py
  hasher-matcher-actioner/webapp/src/Api.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerColumns.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/WebhookActioner.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.jsx
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#627 [hma] Fix typing in storm script and create method to get dev token from cli
  hasher-matcher-actioner/scripts/get_auth_token
  hasher-matcher-actioner/scripts/storm_submissions_api
  hasher-matcher-actioner/terraform/authentication-shared/main.tf
Labels: CLA Signed, hma
