Repository facebook/ThreatExchange, pull requests merged in 2021-11, with the labels that each got.

#857 Remove the use of sks keyservers
  hasher-matcher-actioner/.devcontainer/Dockerfile
Labels: CLA Signed

#858 [hma][cli] add sns support to storm cli command
  hasher-matcher-actioner/hmalib/scripts/cli/storm.py
  hasher-matcher-actioner/hmalib/scripts/common/utils.py
  hasher-matcher-actioner/scripts/submit_s3_bucket
Labels: CLA Signed, hma

#859 Support bank members without media attached
  hasher-matcher-actioner/hmalib/banks/bank_operations.py
  hasher-matcher-actioner/hmalib/common/models/bank.py
Labels: CLA Signed, hma

#862 Fix content input from not resetting when selecting to submit another
  hasher-matcher-actioner/webapp/src/pages/SubmitContent.tsx
Labels: CLA Signed, hma, hma-ui

#860 Use parameterized counts for the HMADataStore stream counter
  hasher-matcher-actioner/hmalib/lambdas/ddb_stream_counter.py
Labels: CLA Signed, hma

#864 [hma][actions] add extensions framework for actions + ui support
  hasher-matcher-actioner/.devcontainer/post-create
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/Dockerfile
  hasher-matcher-actioner/hmalib/common/configs/actioner.py
  hasher-matcher-actioner/hmalib/common/extension.py
  hasher-matcher-actioner/hmalib/common/extensions/__init__.py
  hasher-matcher-actioner/hmalib/common/extensions/action_performers.py
  hasher-matcher-actioner/hmalib/scripts/common/utils.py
  hasher-matcher-actioner/hmalib_extensions/__init__.py
  hasher-matcher-actioner/hmalib_extensions/action_performer_example.py
  hasher-matcher-actioner/settings.py.example
  hasher-matcher-actioner/setup.py
  hasher-matcher-actioner/terraform/actions/outputs.tf
  hasher-matcher-actioner/terraform/outputs.tf
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerDetails.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/WebhookActioner.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.tsx
  hasher-matcher-actioner/webapp/src/pages/Settings.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionPerformerSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/utils/constants.ts
Labels: CLA Signed, hma, hma-ui

#865 [hmalib][script] add hmalib_extensions/ to gitignore and small changes to client_lib.py
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/hmalib/scripts/common/client_lib.py
Labels: CLA Signed, hma

#866 [hma][counts] remove random 4 in SKEY_PREFIX for ParameterizedCount
  hasher-matcher-actioner/hmalib/common/models/count.py
Labels: CLA Signed, hma

#869 [pytx] hot fix - fetch of sample data to use tag_fetch renamed in (#744)
  python-threatexchange/threatexchange/cli/match.py
Labels: CLA Signed, python-threatexchange

#870 [pytx] Bump version for match + fetch fix #869
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#867 Rename NonThreatExchange* to StopNciiOrg* and make dataclasses convention friendly
  hasher-matcher-actioner/.devcontainer/devcontainer.json
  hasher-matcher-actioner/hmalib/common/external_api.py
  hasher-matcher-actioner/hmalib/hashexchanges/api/non_threatexchange_api_representations.py
  hasher-matcher-actioner/hmalib/hashexchanges/api/stopnciiorg.py
  hasher-matcher-actioner/hmalib/hashexchanges/api/stopnciiorg_representations.py
  hasher-matcher-actioner/hmalib/hashexchanges/api/tests/test_stopnciiorg_api.py
Labels: CLA Signed, hma
