Repository facebook/ThreatExchange, pull requests merged in 2021-12, with the labels that each got.

#871 [pytx] quick fix of benchmark script - pdq index requires custom ids
  python-threatexchange/benchmarks/benchmark_pdq_faiss_matchers.py
Labels: CLA Signed, python-threatexchange

#876 [pytx][minor] clean up in `signal_type/tlsh_pdf.py` and `signal_type/url_md5.py`
  python-threatexchange/threatexchange/signal_type/tests/test_tlsh_hash_and_match.py
  python-threatexchange/threatexchange/signal_type/tlsh_pdf.py
  python-threatexchange/threatexchange/signal_type/url_md5.py
Labels: CLA Signed, python-threatexchange

#877 [pytx][minor] update dockerfile with steps for testing local pytx changes
  hasher-matcher-actioner/Dockerfile
Labels: CLA Signed, hma

#875 [pytx] update faiss_matcher to have option to return distance & add PDQFlatIndex
  python-threatexchange/threatexchange/hashing/pdq_faiss_matcher.py
  python-threatexchange/threatexchange/signal_type/pdq_index.py
  python-threatexchange/threatexchange/signal_type/tests/test_pdq_index.py
Labels: CLA Signed, python-threatexchange

#878 [pytx] mypy supportand fixes
  .github/workflows/python-threatexchange-ci.yaml
  python-threatexchange/mypy.ini
  python-threatexchange/setup.py
  python-threatexchange/threatexchange/api_representations.py
  python-threatexchange/threatexchange/cli/command_base.py
  python-threatexchange/threatexchange/cli/dataset/simple_serialization.py
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/fetch.py
  python-threatexchange/threatexchange/cli/hash_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/match.py
  python-threatexchange/threatexchange/cli/tag_fetch.py
  python-threatexchange/threatexchange/collab_config.py
  python-threatexchange/threatexchange/common.py
  python-threatexchange/threatexchange/content_type/content_base.py
  python-threatexchange/threatexchange/content_type/meta.py
  python-threatexchange/threatexchange/dataset.py
  python-threatexchange/threatexchange/descriptor.py
  python-threatexchange/threatexchange/hashing/pdq_faiss_matcher.py
  python-threatexchange/threatexchange/signal_type/pdq_index.py
  python-threatexchange/threatexchange/signal_type/raw_text.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
  python-threatexchange/threatexchange/threat_updates.py
Labels: CLA Signed, python-threatexchange

#872 Run indexer on a schedule instead of on events
  hasher-matcher-actioner/hmalib/lambdas/unified_indexer.py
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/indexer/main.tf
  hasher-matcher-actioner/terraform/indexer/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#879 [pytx] bump python-threatexchange version
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#880 [hma] pytx version bump and keyword arg name fix in matcher_base
  hasher-matcher-actioner/hmalib/lambdas/matcher.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/setup.py
Labels: CLA Signed, hma

#884 Remove confusing duplicate LICENSE files for #868
  api-reference-examples/python/pytx/LICENSE
  hashing/LICENSE.txt
  pdq/LICENSE.txt
  python-threatexchange/LICENSE
Labels: CLA Signed, pdq, python-threatexchange

#886 Update README for #868
  README.md
Labels: CLA Signed

#881 Update PDQ README for #868
  pdq/README.md
Labels: CLA Signed, pdq

#883 [hma] record match distance in match record and surface on API
  hasher-matcher-actioner/hmalib/common/models/pipeline.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_pipeline_models.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
Labels: CLA Signed, hma

#885 [hma] add AdditionalMatchSettingsConfig for pdq threshold to filter matches
  hasher-matcher-actioner/hmalib/common/configs/fetcher.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
Labels: CLA Signed, hma

#889 [hma][api] AdditionalMatchSettingsConfig adjustable from API and match distance in /for-hash/ results
  hasher-matcher-actioner/hmalib/lambdas/api/datasets.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
Labels: CLA Signed, hma

#891 Add a page showing bank members
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/App.tsx
  hasher-matcher-actioner/webapp/src/components/Loader.tsx
  hasher-matcher-actioner/webapp/src/messages/BankMessages.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/Members.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBankMember.tsx
Labels: CLA Signed, hma, hma-ui

#890 [hma] add support for PDQ match threshold >31
  hasher-matcher-actioner/hmalib/common/mappings.py
  hasher-matcher-actioner/hmalib/indexers/s3_indexers.py
  hasher-matcher-actioner/hmalib/lambdas/unified_indexer.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/terraform/matcher/main.tf
Labels: CLA Signed, hma

#892 [hma] Add a settings pane for getting index last modified and rebuilding on demand
  hasher-matcher-actioner/hmalib/indexers/s3_indexers.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/indexes.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/indexer/outputs.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/App.tsx
  hasher-matcher-actioner/webapp/src/pages/Settings.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/IndexSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/SettingsTabPane.tsx
Labels: CLA Signed, hma, hma-ui

#887 [HMA] Indexer sources hashes from banks as well as te data
  hasher-matcher-actioner/hmalib/common/messages/match.py
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/common/models/models_base.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_bank_member_signals_to_process.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_signal_uniqueness.py
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/indexers/metadata.py
  hasher-matcher-actioner/hmalib/lambdas/actions/action_evaluator.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/unified_indexer.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/terraform/datastore/main.tf
  hasher-matcher-actioner/terraform/indexer/main.tf
  hasher-matcher-actioner/terraform/indexer/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#893 [hma] address matcher bugs
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
Labels: CLA Signed, hma

#894 [hma][ui] add support for setting custom pdq match thresholds on dataset settings page
  hasher-matcher-actioner/hmalib/lambdas/api/datasets.py
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/App.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/SettingsTabPane.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/styles/_app.scss
Labels: CLA Signed, hma, hma-ui

#895 Add padding to the popover for <CopyableTextField>
  hasher-matcher-actioner/webapp/src/utils/TextFieldsUtils.tsx
Labels: CLA Signed, hma, hma-ui

#896 Detached bank UI
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/components/ReturnTo.tsx
  hasher-matcher-actioner/webapp/src/messages/BankMessages.tsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/Members.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBankMember.tsx
Labels: CLA Signed, hma, hma-ui

#897 Toast UI infra
  hasher-matcher-actioner/webapp/src/App.tsx
  hasher-matcher-actioner/webapp/src/AppWithNotifications.tsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchTable.tsx
  hasher-matcher-actioner/webapp/src/pages/Settings.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionPerformerSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/styles/_app.scss
Labels: CLA Signed, hma, hma-ui

#898 [HMA] Make threatexchange token optional and allow updates from the UI
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/writebacker/writebacker_base.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/variables.tf
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/components/HolidaysDatasetInformationBlock.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeTokenEditor.tsx
Labels: CLA Signed, hma, hma-ui

#899 [hma] Remove bank members from the UI
  hasher-matcher-actioner/hmalib/banks/bank_operations.py
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_bank_member_removes.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/messages/BankMessages.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBankMember.tsx
Labels: CLA Signed, hma, hma-ui

#900 Update CONTRIBUTING.md
  hasher-matcher-actioner/CONTRIBUTING.md
Labels: CLA Signed, hma

#902 [devcontainer] Try and make devcontainer work windows
  hasher-matcher-actioner/.devcontainer/.gitignore
  hasher-matcher-actioner/.devcontainer/devcontainer.json.example
Labels: CLA Signed

#905 post-create will properly crash for issues
  hasher-matcher-actioner/.devcontainer/post-create
Labels: CLA Signed

#904 Update CONTRIBUTING.md
  hasher-matcher-actioner/CONTRIBUTING.md
Labels: CLA Signed, hma

#903 Ignore devcontainer.json
  hasher-matcher-actioner/.devcontainer/.gitignore
Labels: CLA Signed
