Repository facebook/ThreatExchange, pull requests merged in 2021-07, with the labels that each got.

#704 Submit s3 bucket script
  hasher-matcher-actioner/scripts/script_utils.py
  hasher-matcher-actioner/scripts/storm_images_queue
  hasher-matcher-actioner/scripts/submit_s3_bucket
Labels: CLA Signed, hma

#706 Add images for new action Rules Page
  hasher-matcher-actioner/docs/images/Create ActionRule Old.png
  hasher-matcher-actioner/docs/images/Create ActionRule.png
  hasher-matcher-actioner/docs/images/Delete ActionRules.png
  hasher-matcher-actioner/docs/images/Edit ActionRules.png
  hasher-matcher-actioner/docs/images/Screen Shot 2021-06-01 at 4.16.00 PM.png
  hasher-matcher-actioner/docs/images/delete action rules.png
Labels: CLA Signed, hma

#701 Call lambda when item added to local s3 bucket
  hasher-matcher-actioner/hmalib/lambdas/hasher_integrations.py
  hasher-matcher-actioner/terraform/hashing-data/main.tf
  hasher-matcher-actioner/terraform/hashing-data/variables.tf
  hasher-matcher-actioner/terraform/hashing-integrations/main.tf
  hasher-matcher-actioner/terraform/hashing-integrations/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#707 Stop counting totals in DDB transactions
  hasher-matcher-actioner/hmalib/lambdas/api/stats.py
  hasher-matcher-actioner/hmalib/models.py
  hasher-matcher-actioner/hmalib/tests/test_pdq_models.py
  hasher-matcher-actioner/webapp/src/pages/Dashboard.jsx
Labels: CLA Signed, hma, hma-ui

#708 [hma][script]Reuse the same thread pool executor for submissions
  hasher-matcher-actioner/scripts/submit_s3_bucket
Labels: CLA Signed, hma

#709 [hma] add missing Copyright Headers
  hasher-matcher-actioner/hmalib/common/mocks.py
  hasher-matcher-actioner/hmalib/common/writebacker_models.py
  hasher-matcher-actioner/hmalib/lambdas/api/tests/test_middleware.py
  hasher-matcher-actioner/hmalib/metrics/cloudwatch.py
  hasher-matcher-actioner/scripts/gen_fake_cloudwatch_metrics.py
  hasher-matcher-actioner/terraform/actions/variables.tf
  hasher-matcher-actioner/terraform/datastore/main.tf
  hasher-matcher-actioner/webapp/src/components/settings/ThreatExchangePrivacyGroupCard.jsx
  hasher-matcher-actioner/webapp/src/utils/NumberUtils.jsx
  python-threatexchange/tests/hashing/test_pdq_hasher.py
  python-threatexchange/tests/test_api.py
Labels: CLA Signed, hma, hma-ui, python-threatexchange

#711 Convert threatexchange settings typescript
  hasher-matcher-actioner/hmalib/lambdas/api/datasets_api.py
  hasher-matcher-actioner/webapp/.eslintrc.json
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/components/HolidaysDatasetInformationBlock.tsx
  hasher-matcher-actioner/webapp/src/pages/Settings.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.tsx
Labels: CLA Signed, hma, hma-ui

#714 Change confusing text on Action Settings Tab
  hasher-matcher-actioner/webapp/src/pages/settings/ActionSettingsTab.jsx
Labels: CLA Signed, hma, hma-ui

#712 Various Changes to Cloudwatch Dashboard
  hasher-matcher-actioner/terraform/dashboard/main.tf
Labels: CLA Signed, hma

#713 Devcontainer for python-threatexchange
  python-threatexchange/.devcontainer/Dockerfile
  python-threatexchange/.devcontainer/bashrc
  python-threatexchange/.devcontainer/devcontainer.json
  python-threatexchange/.devcontainer/post-create
  python-threatexchange/.devcontainer/zshrc
Labels: CLA Signed

#715 convert action settings related files to typescript files
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/WebhookActioner.tsx
Labels: CLA Signed, hma, hma-ui

#716 Update dataset command to show more stats
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/content_type/meta.py
Labels: CLA Signed, python-threatexchange

#718 [hma][scripts] Add latency stats and refactor soak test
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/scripts/README.md
  hasher-matcher-actioner/scripts/listener.py
  hasher-matcher-actioner/scripts/soak_test_system
  hasher-matcher-actioner/scripts/submitter.py
Labels: CLA Signed, hma

#719 Convert files to TSX, fix errors and warnings
  hasher-matcher-actioner/webapp/src/components/HolidaysDatasetInformationBlock.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/WebhookActioner.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRuleFormColumns.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionRulesTableRow.tsx
  hasher-matcher-actioner/webapp/src/pages/Settings.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.tsx
Labels: CLA Signed, hma, hma-ui

#721 [threatexchange][videomd5] Support hashing by bytes in Threatexchange SignalTypes
  python-threatexchange/data/sample-b.jpg
  python-threatexchange/threatexchange/content_type/meta.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/tests/test_md5_hash.py
  python-threatexchange/threatexchange/signal_type/tests/test_pdq_index.py
Labels: CLA Signed, python-threatexchange

#722 python-threatexchange v0.0.21: from_bytes() support in PDQ and MD5 signal types
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#724 [threatexchange][hotfix] Missing function invocation in `threatexchange.content_type.meta.get_content_type_for_name`
  python-threatexchange/threatexchange/content_type/meta.py
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#729 threatexchange: Allow subclasses to build pdq indexes
  python-threatexchange/threatexchange/signal_type/pdq_index.py
Labels: CLA Signed, python-threatexchange

#730 PDQIndex.build allows subclassing
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#726 Partner Bucket Hasher (v2)
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/hashing-integrations/main.tf
  hasher-matcher-actioner/terraform/hashing-integrations/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#717 always mark sample test dataset id as in_use
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
Labels: CLA Signed, hma

#734 Update default branch name in Docs and Workflows
  .github/workflows/golang-ci.yaml
  .github/workflows/hma-ci-main-push.yaml
  .github/workflows/hma-webapp-ci.yaml
  .github/workflows/hmalib-ci.yaml
  .github/workflows/pdq-ci-cpp.yml
  .github/workflows/python-threatexchange-ci.yaml
  .github/workflows/python-threatexchange-release.yaml
  CONTRIBUTING.md
  README.md
  api-reference-examples/curl/te-tag-query/README.md
  api-reference-examples/java/te-tag-query/README.md
  api-reference-examples/js/node/README.md
  api-reference-examples/python/pytx/CONTRIBUTING.md
  api-reference-examples/python/pytx/README.rst
  api-reference-examples/python/te-tag-query/README.md
  api-reference-examples/ruby/te-tag-query/README.md
  hasher-matcher-actioner/CONTRIBUTING.md
  hasher-matcher-actioner/webapp/README.md
  hashing/README.md
  pdq/README.md
  pdq/cpp/hashing/pdqhashing.cpp
  pdq/cpp/hashing/pdqhashing.h
  python-threatexchange/CONTRIBUTING.md
  tmk/README-more.md
  tmk/README.md
Labels: CLA Signed, hma, hma-ui, pdq, python-threatexchange

#735 fix go CI workflow
  .github/workflows/golang-ci.yaml
Labels: CLA Signed

#736 fix go CI workflow 2
  .github/workflows/golang-ci.yaml
Labels: CLA Signed

#737 Suppress new GCC 8 warnings in pdq/cpp
  pdq/cpp/Makefile
Labels: CLA Signed, pdq

#727 Filter Partner Bucket Uploads to files in specific folders or with specific extensions
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma

#739 Accept Empty Partner Buckets variable in terraform.tfvars
  hasher-matcher-actioner/terraform/api/main.tf
Labels: CLA Signed, hma
