Repository facebook/ThreatExchange, pull requests merged in 2022-01, with the labels that each got.

#906 [py-tx] Interface for collab configuration
  python-threatexchange/threatexchange/cli/cli_config.py
Labels: CLA Signed, python-threatexchange

#910 [py-tex] Attempt to fix urllib typing error
  python-threatexchange/mypy.ini
Labels: CLA Signed, python-threatexchange

#907 [py-tx] Fetcher API interface
  python-threatexchange/threatexchange/fetcher/__init__.py
  python-threatexchange/threatexchange/fetcher/fetch_api.py
  python-threatexchange/threatexchange/fetcher/fetch_state_base.py
Labels: CLA Signed, python-threatexchange

#912 [py-te][fetcher] collab config
  python-threatexchange/threatexchange/fetcher/collab_config.py
  python-threatexchange/threatexchange/fetcher/fetch_api.py
  python-threatexchange/threatexchange/fetcher/fetch_state.py
Labels: CLA Signed, python-threatexchange

#913 Upgrade Node to v16, v15 is no longer supported
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/.devcontainer/devcontainer.json.example
Labels: CLA Signed

#915 [hma] pin python dependency versions
  hasher-matcher-actioner/CHANGELOG.md
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/setup.py
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/pages/settings/ActionRuleSettingsTab.tsx
Labels: CLA Signed, hma, hma-ui

#917 [HMA] Add a kill switch for banks (stop matching immediately)
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/matcher.py
  hasher-matcher-actioner/hmalib/matchers/filters.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/hmalib/matchers/tests/test_match_filters.py
  hasher-matcher-actioner/mypy.ini
  hasher-matcher-actioner/setup.py
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/matcher/main.tf
  hasher-matcher-actioner/terraform/matcher/variables.tf
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/forms/BankDetailsForm.tsx
  hasher-matcher-actioner/webapp/src/messages/BankMessages.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/AddBankModal.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewAllBanks.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBank.tsx
Labels: CLA Signed, hma, hma-ui

#920 Add illustration of high-level banks workflow
  hasher-matcher-actioner/docs/images/HMA-Banks-illustration.png
Labels: CLA Signed, hma

#919 [HMA] Support adding and editing tags for Banks and BankMembers
  hasher-matcher-actioner/hmalib/banks/bank_operations.py
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/common/models/models_base.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/hmalib/lambdas/matcher.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/hmalib/matchers/tests/test_match_filters.py
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/components/PillBox.tsx
  hasher-matcher-actioner/webapp/src/forms/BankDetailsForm.tsx
  hasher-matcher-actioner/webapp/src/forms/BankMemberForm.tsx
  hasher-matcher-actioner/webapp/src/messages/BankMessages.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/AddBankMemberModal.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/AddBankModal.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBank.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBankMember.tsx
  hasher-matcher-actioner/webapp/src/styles/_pill-box.scss
Labels: CLA Signed, hma, hma-ui

#921 Bank action evaluation fixups
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
Labels: CLA Signed, hma

#922 Banks launch
  hasher-matcher-actioner/webapp/src/Sidebar.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewAllBanks.tsx
Labels: CLA Signed, hma, hma-ui

#923 [hma][ui][bugfix] update create new bank request field to work
  hasher-matcher-actioner/webapp/src/Api.tsx
Labels: CLA Signed, hma, hma-ui
