Repository facebook/ThreatExchange, pull requests merged in 2022-07, with the labels that each got.

#1034 [pytx] Incremental README improvements
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1046 [pytx][cli] match --help rewrite
  python-threatexchange/threatexchange/cli/match_cmd.py
Labels: CLA Signed, python-threatexchange

#1045 [pytx][cli] label --help rewrite
  python-threatexchange/threatexchange/cli/label_cmd.py
Labels: CLA Signed, python-threatexchange

#1047 [pytx][cli] Dash for stdin for `hash`, `match` and friends
  python-threatexchange/threatexchange/cli/helpers.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
  python-threatexchange/threatexchange/cli/tests/hash_cmd_test.py
Labels: CLA Signed, python-threatexchange

#1043 [py-tx][cli] hash --help rewrite
  python-threatexchange/threatexchange/cli/hash_cmd.py
Labels: CLA Signed, python-threatexchange

#1048 [VPDQ] Make ffmpeg path optional
  .github/workflows/vpdq-ci-cpp.yml
  vpdq/README.md
  vpdq/cpp/bin/vpdq-hash-video.cpp
  vpdq/cpp/regtest.py
Labels: CLA Signed

#1010 Webassembly pdq changes
  pdq/cpp/CImg.h
  pdq/cpp/Makefile
  pdq/cpp/bin/pdq-photo-hasher.cpp
  pdq/wasm/.gitignore
  pdq/wasm/Makefile
  pdq/wasm/NCII Open Source WASM Readme.mD
  pdq/wasm/images/bg.jpg
  pdq/wasm/index.html
  pdq/wasm/package.json
  pdq/wasm/scripts/pdq.js
  pdq/wasm/server.js
  pdq/wasm/styles/style.css
  pdq/wasm/test/TestData/PDQMD5TestData.csv
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver.sln
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver/Program.cs
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver/Properties/launchSettings.json
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver/Services/PDQMD5Hashing.cs
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver/Utils/FileUtils.cs
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver.csproj
Labels: CLA Signed, pdq

#1042 [py-tx][cli] Many Improvements to `collab edit` --help
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/tests/cli_smoke_test.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_collabs_test.py
  python-threatexchange/threatexchange/cli/tests/hash_cmd_test.py
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_api.py
  python-threatexchange/threatexchange/fetcher/apis/file_api.py
  python-threatexchange/threatexchange/fetcher/apis/ncmec_api.py
  python-threatexchange/threatexchange/fetcher/collab_config.py
Labels: CLA Signed, python-threatexchange

#1051 [pytx] fb_threat_exchage => fb_threatexchange
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_api.py
Labels: CLA Signed, python-threatexchange, backwards incompatible

#1049 [pytx][cli] Handle demo dataset empty, settings helpers
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/label_cmd.py
  python-threatexchange/threatexchange/cli/tests/dataset_cmd_test.py
Labels: CLA Signed, python-threatexchange

#1054 [pytx][cli] Fix bad conflict resolution
  python-threatexchange/threatexchange/cli/config_cmd.py
Labels: CLA Signed, python-threatexchange

#1055 [pytx] Move Clients to /exchanges/clients
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/writebacker/writebacker_base.py
  python-threatexchange/tests/test_api.py
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/dataset/simple_serialization.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_collabs_test.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_misc_test.py
  python-threatexchange/threatexchange/exchanges/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/api.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/api_representations.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/descriptor.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/threat_updates.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/tests/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/tests/test_hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/api.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/tests/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/tests/test_api.py
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_api.py
  python-threatexchange/threatexchange/fetcher/apis/ncmec_api.py
  python-threatexchange/threatexchange/fetcher/apis/stop_ncii_api.py
  python-threatexchange/threatexchange/fetcher/apis/tests/test_ncmec.py
  python-threatexchange/threatexchange/fetcher/apis/tests/test_stopncii.py
Labels: CLA Signed, python-threatexchange, hma

#1036 [VPDQ] Add VPDQ python binding
  vpdq/LICENSE.txt
  vpdq/python/__init__.py 
  vpdq/python/test_util.py
  vpdq/python/test_vpdq_hash.py
  vpdq/python/vpdq.pyx
  vpdq/requirements.txt
  vpdq/setup.py
Labels: CLA Signed

#1056 [vpdq] Empty init file confuses git
  vpdq/python/__init__.py
  vpdq/python/__init__.py 
Labels: CLA Signed

#1058 [pytx][rename][2/3] fetcher/apis => exchanges/impls
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/label_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/tests/dataset_cmd_test.py
  python-threatexchange/threatexchange/exchanges/collab_config.py
  python-threatexchange/threatexchange/exchanges/impl/__init__.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_signal.py
  python-threatexchange/threatexchange/exchanges/impl/file_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/static_sample.py
  python-threatexchange/threatexchange/exchanges/impl/stop_ncii_api.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_ncmec.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_stopncii.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/extensions/manifest.py
  python-threatexchange/threatexchange/fetcher/fetch_state.py
  python-threatexchange/threatexchange/fetcher/simple/state.py
  python-threatexchange/threatexchange/fetcher/simple/tests/test_state.py
  python-threatexchange/threatexchange/meta.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/pdq_ocr.py
  python-threatexchange/threatexchange/signal_type/raw_text.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
  python-threatexchange/threatexchange/signal_type/url.py
  python-threatexchange/threatexchange/signal_type/url_md5.py
Labels: CLA Signed, python-threatexchange

#1060 [pytx] Fix missing help for --api-token option
  python-threatexchange/threatexchange/cli/config_cmd.py
Labels: CLA Signed, python-threatexchange

#1059 [pytx][rename][3/3] Final rename - no more /fetcher directory
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/label_cmd.py
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/exchanges/fetch_state.py
  python-threatexchange/threatexchange/exchanges/helpers.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/impl/file_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/static_sample.py
  python-threatexchange/threatexchange/exchanges/impl/stop_ncii_api.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_stopncii.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/exchanges/tests/test_state.py
  python-threatexchange/threatexchange/fetcher/__init__.py
  python-threatexchange/threatexchange/fetcher/simple/__init__.py
Labels: CLA Signed, python-threatexchange

#1057 [VPDQ] Add timeStamp and make ffmpeg optional in Python-binding
  vpdq/README.md
  vpdq/python/tests/test_util.py
  vpdq/python/tests/test_vpdq_hash.py
  vpdq/python/vpdq.pyx
Labels: CLA Signed

#1066 Webassembly pdq
  pdq/wasm/Makefile
  pdq/wasm/README.md
Labels: CLA Signed, pdq

#1067 [pdq][README] References to third party impls
  pdq/README.md
Labels: CLA Signed, pdq

#1068 [VPDQ] Use framesPerSecond to calculate timestamp
  vpdq/cpp/bin/vpdq-hash-video.cpp
  vpdq/cpp/hashing/filehasher.cpp
  vpdq/cpp/hashing/filehasher.h
  vpdq/cpp/io/vpdqio.cpp
  vpdq/cpp/io/vpdqio.h
  vpdq/cpp/regtest.py
  vpdq/python/vpdq.pyx
  vpdq/sample-hashes/chair-19-sd-bar.txt
  vpdq/sample-hashes/chair-20-sd-bar.txt
  vpdq/sample-hashes/chair-22-sd-grey-bar.txt
  vpdq/sample-hashes/chair-22-sd-sepia-bar.txt
  vpdq/sample-hashes/chair-22-with-large-logo-bar.txt
  vpdq/sample-hashes/chair-22-with-small-logo-bar.txt
  vpdq/sample-hashes/chair-orig-22-fhd-no-bar.txt
  vpdq/sample-hashes/chair-orig-22-hd-no-bar.txt
  vpdq/sample-hashes/chair-orig-22-sd-bar.txt
  vpdq/sample-hashes/pattern-hd-no-bar.txt
  vpdq/sample-hashes/pattern-longer-no-bar.txt
  vpdq/sample-hashes/pattern-sd-grey-bar.txt
  vpdq/sample-hashes/pattern-sd-with-large-logo-bar.txt
  vpdq/sample-hashes/pattern-sd-with-small-logo-bar.txt
Labels: CLA Signed

#1069 Update README.md
  python-threatexchange/threatexchange/extensions/README.md
Labels: CLA Signed, python-threatexchange

#1071 [pytx] allow to run as module
  python-threatexchange/threatexchange/__main__.py
Labels: CLA Signed, python-threatexchange

#1070 [PYTX] Implement vpdq in extension
  python-threatexchange/mypy.ini
  python-threatexchange/threatexchange/extensions/video_vpdq/__init__.py
  python-threatexchange/threatexchange/extensions/video_vpdq/tests/test_hash.txt
  python-threatexchange/threatexchange/extensions/video_vpdq/tests/test_vpdq_hash_and_match.py
  python-threatexchange/threatexchange/extensions/video_vpdq/video_vpdq.py
  python-threatexchange/threatexchange/extensions/video_vpdq/vpdq_brute_hasher.py
  python-threatexchange/threatexchange/extensions/video_vpdq/vpdq_util.py
Labels: CLA Signed, python-threatexchange

#1078 [pytx] Extensions SignalType ContentType fixups
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/hash_cmd.py
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_extension_test.py
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/common.py
Labels: CLA Signed, python-threatexchange

#1076 [pytx][cli] Factory reset command
  python-threatexchange/threatexchange/cli/main.py
Labels: CLA Signed, python-threatexchange

#1082 [py-tx] Remove support for 3.7, now to 3.8
  .github/workflows/python-threatexchange-ci.yaml
  .github/workflows/python-threatexchange-release.yaml
  python-threatexchange/threatexchange/cli/config_cmd.py
Labels: CLA Signed, python-threatexchange

#1079 [pytx][ncmec] esp ID filter
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
Labels: CLA Signed, python-threatexchange

#1083 Update README.md
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1085 [pytx] Disable alternative tokens for now
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
Labels: CLA Signed, python-threatexchange

#1086 [pytx] Begin making mypy more strict
  python-threatexchange/mypy.ini
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/descriptor.py
Labels: CLA Signed, python-threatexchange

#1084 [pytx] Fix NCMEC esp-filter, add too many more features
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/dataclass_json.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_collabs_test.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_extension_test.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
Labels: CLA Signed, python-threatexchange

#1075 [VPDQ] PYPI install&packing script
  vpdq/MANIFEST.in
  vpdq/cpp/Makefile
  vpdq/setup.py
  vpdq/version.txt
  vpdq/vpdq-release.py
Labels: CLA Signed

#1074 [PYTX-VPDQ] Implement VPDQ faiss index
  python-threatexchange/mypy.ini
  python-threatexchange/threatexchange/extensions/vpdq/__init__.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_hash.txt
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_hash_and_match.py
  python-threatexchange/threatexchange/extensions/vpdq/video_vpdq.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_brute_matcher.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_index.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_util.py
  python-threatexchange/threatexchange/signal_type/index.py
Labels: CLA Signed, python-threatexchange

#1089 [pytx][exchange] update datetime string
  python-threatexchange/threatexchange/exchanges/clients/ncmec/hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/tests/test_hash_api.py
Labels: CLA Signed, python-threatexchange

#1090 [pytx][pdq] Removed unneeded local import checks for Pillow faiss-cpu libs
  python-threatexchange/benchmarks/benchmark_pdq_faiss_matchers.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_faiss.py
  python-threatexchange/threatexchange/hashing/__init__.py
  python-threatexchange/threatexchange/hashing/pdq_faiss_matcher.py
  python-threatexchange/threatexchange/signal_type/pdq.py
Labels: CLA Signed, python-threatexchange

#1091 [pytx][style] @classmethod should use cls not self
  python-threatexchange/threatexchange/cli/command_base.py
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/api.py
  python-threatexchange/threatexchange/extensions/pdq_ocr/pdq_ocr.py
  python-threatexchange/threatexchange/extensions/tlsh/text_tlsh.py
  python-threatexchange/threatexchange/extensions/vpdq/video_vpdq.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/raw_text.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
  python-threatexchange/threatexchange/signal_type/url.py
  python-threatexchange/threatexchange/signal_type/url_md5.py
Labels: CLA Signed, python-threatexchange

#1092 [pytx] Merge PickledSignalTypeIndex to Base
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_index.py
  python-threatexchange/threatexchange/signal_type/index.py
  python-threatexchange/threatexchange/signal_type/pdq_index.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
Labels: CLA Signed, python-threatexchange

#1087 [PYTX] Add vpdq_index as the default matching type for video_vpdq signal type
  python-threatexchange/threatexchange/extensions/vpdq/video_vpdq.py
Labels: CLA Signed, python-threatexchange

#1094 [pytx] Make SignalIndex required
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/url.py
  python-threatexchange/threatexchange/signal_type/url_md5.py
Labels: CLA Signed, python-threatexchange

#1095 [pytx] Rename meta.py => type_mapping.py
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/common.py
  python-threatexchange/threatexchange/exchanges/collab_config.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_ncmec.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_stopncii.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/interface_validation.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
Labels: CLA Signed, python-threatexchange

#1099 [UnbreakingFetch][1/n]: Allow adding / toggling SignalExchangeAPIs
  .github/workflows/hma-ci.yaml
  hasher-matcher-actioner/hmalib/common/configs/tests/__init__.py
  hasher-matcher-actioner/hmalib/common/configs/tests/test_tx_apis.py
  hasher-matcher-actioner/hmalib/common/configs/tx_apis.py
  hasher-matcher-actioner/hmalib/common/mappings.py
  hasher-matcher-actioner/hmalib/common/models/tests/ddb_test_common.py
  hasher-matcher-actioner/hmalib/scripts/migrations/2022_07_24_default_signal_exchange_apis.py
  hasher-matcher-actioner/terraform/migrations/main.tf
Labels: CLA Signed, hma

#1088 [PYTX]Add requirement.txt in video_vpdq
  .github/workflows/python-threatexchange-ci.yaml
  python-threatexchange/threatexchange/extensions/vpdq/requirements.txt
  vpdq/python/vpdq.pyx
  vpdq/setup.py
  vpdq/vpdq-release.py
Labels: CLA Signed, python-threatexchange

#1102 [VPDQ] Force package to return python string
  vpdq/python/tests/test_util.py
  vpdq/python/tests/test_vpdq_hash.py
  vpdq/python/vpdq.pyx
  vpdq/version.txt
Labels: CLA Signed

#1100 Support Enums in aws_dataclass
  hasher-matcher-actioner/hmalib/common/aws_dataclass.py
  hasher-matcher-actioner/hmalib/common/configs/tests/test_tx_apis.py
  hasher-matcher-actioner/hmalib/common/mappings.py
  hasher-matcher-actioner/hmalib/common/models/tests/ddb_test_common.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_bank_member_signals_to_process.py
  hasher-matcher-actioner/hmalib/common/tests/aws_dataclass_test.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
Labels: CLA Signed, hma

#1062 [pytx] Handle type+tag combos in fb_threatexchange
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_signal.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/url.py
Labels: CLA Signed, python-threatexchange

#1104 [Vpdq] Add github workflow for releaseing vpdq package on pypi
  .github/workflows/vpdq-release.yaml
  vpdq/requirements.txt
  vpdq/vpdq-release.py
Labels: CLA Signed

#1103 [pytx] Test version installation
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1101 [pytx] Add pdq utils and tests
  python-threatexchange/tests/hashing/test_pdq_utils.py
  python-threatexchange/tests/hashing/utils.py
  python-threatexchange/threatexchange/hashing/pdq_utils.py
  python-threatexchange/threatexchange/signal_type/pdq.py
Labels: CLA Signed, python-threatexchange

#1107 [PYTX] VPDQ Add vpdq test&utils for supporting matching in index
  python-threatexchange/threatexchange/extensions/vpdq/tests/__init__.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_hash_and_match.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/utils.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_util.py
Labels: CLA Signed, python-threatexchange

#1098 [py-tx] New Names for SignalOpinionCategory
  python-threatexchange/README.md
  python-threatexchange/threatexchange/cli/label_cmd.py
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_extension_test.py
  python-threatexchange/threatexchange/cli/tests/dataset_cmd_test.py
  python-threatexchange/threatexchange/cli/tests/match_cmd_test.py
  python-threatexchange/threatexchange/cli/tests/sample_data_e2e_test.py
  python-threatexchange/threatexchange/exchanges/fetch_state.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/impl/file_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/stop_ncii_api.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_stopncii.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/exchanges/tests/test_state.py
Labels: CLA Signed, python-threatexchange

#1112 [pytx] No more dist in SignalType.compare_hash
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/extensions/pdq_ocr/pdq_ocr.py
  python-threatexchange/threatexchange/extensions/tlsh/text_tlsh.py
  python-threatexchange/threatexchange/extensions/vpdq/video_vpdq.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/raw_text.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
  python-threatexchange/threatexchange/signal_type/url.py
Labels: CLA Signed, python-threatexchange

#1110 [PYTX]VPDQ Add support for detecting and handling empty video
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_index.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_util.py
Labels: CLA Signed, python-threatexchange

#1115 [VPDQ] Silence ffmpeg for nonverbose option
  vpdq/cpp/hashing/filehasher.cpp
Labels: CLA Signed

#1113 [pytx] Squelch pdq warning
  python-threatexchange/threatexchange/cli/main.py
Labels: CLA Signed, python-threatexchange

#1111 [pytx][README] Add moar badges
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1108 Correct Methods for boxAlongCols and boxAlongRows to ensure proper jarroz window sizes match dimensions
  pdq/php/pdqhasher.php
  pdq/php/pdqhashertest.php
Labels: CLA Signed, pdq

#1117 [pytx][exchanges] prevent datetime object from using local tz (use utc in from_xml)
  python-threatexchange/threatexchange/exchanges/clients/ncmec/hash_api.py
Labels: CLA Signed, python-threatexchange

#1114 [pytx] PDQ Quality filter
  python-threatexchange/threatexchange/hashing/pdq_hasher.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
Labels: CLA Signed, python-threatexchange

#1116 [Pytx] Vpdq move vpdq_index_match to vpdq_Index class
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_index.py
  python-threatexchange/threatexchange/signal_type/index.py
Labels: CLA Signed, python-threatexchange

#1120 [pytx][ncmec] Fix a few bugs with NCMEC settings
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_collabs_test.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/tests/test_hash_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_ncmec.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_hash_and_match.py
Labels: CLA Signed, python-threatexchange

#1109 [PYTX] Add VPDQ index default matching threshold and tests
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/utils.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_index.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_util.py
Labels: CLA Signed, python-threatexchange

#1123 [PYTX]Move tests folder into threatexchange and fix import
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/utils.py
  python-threatexchange/threatexchange/tests/__init__.py
  python-threatexchange/threatexchange/tests/hashing/__init__.py
  python-threatexchange/threatexchange/tests/hashing/test_index_updates.py
  python-threatexchange/threatexchange/tests/hashing/test_pdq_faiss_matcher.py
  python-threatexchange/threatexchange/tests/hashing/test_pdq_hasher.py
  python-threatexchange/threatexchange/tests/hashing/test_pdq_utils.py
  python-threatexchange/threatexchange/tests/hashing/utils.py
  python-threatexchange/threatexchange/tests/test_api.py
  python-threatexchange/threatexchange/tests/test_common.py
Labels: CLA Signed, python-threatexchange
