Repository facebook/ThreatExchange, pull requests merged in 2022-08, with the labels that each got.

#1122 [Pytx] vPDQ index benchmark
  python-threatexchange/benchmarks/README.MD
  python-threatexchange/benchmarks/benchmark_vpdq_index.py
Labels: CLA Signed, python-threatexchange

#1126 Pytx vpdq replace init
  python-threatexchange/threatexchange/extensions/vpdq/__init__.py
  python-threatexchange/threatexchange/extensions/vpdq/manifest.py
Labels: CLA Signed, python-threatexchange

#1128 [py-tx] pytest.ini and handle warns
  python-threatexchange/pytest.ini
  python-threatexchange/threatexchange/cli/tests/hash_cmd_test.py
Labels: CLA Signed, python-threatexchange

#1130 [pytx][cli] update outdated help text in match command for --hashes arg
  python-threatexchange/threatexchange/cli/match_cmd.py
Labels: CLA Signed, python-threatexchange

#1129 [VPDQ] Provide more specific error messages for invalid arguments
  vpdq/python/tests/test_vpdq_hash.py
  vpdq/python/vpdq.pyx
Labels: CLA Signed

#1118 [pytx][ncmec] Handle NCMEC API returning out-of-order entries in NCMECSignalExchangeAPI
  python-threatexchange/threatexchange/exchanges/clients/ncmec/hash_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_ncmec.py
Labels: CLA Signed, python-threatexchange

#1127 [Pytx] Add support for vPDQ missing ffmpeg
  vpdq/python/vpdq.pyx
Labels: CLA Signed

#1133 [pytx] threatexchange/hashing => threatexchange/signal_type/pdq
  python-threatexchange/benchmarks/benchmark_pdq_faiss_matchers.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_misc_test.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/stop_ncii_api.py
  python-threatexchange/threatexchange/extensions/pdq_ocr/pdq_ocr.py
  python-threatexchange/threatexchange/extensions/vpdq/video_vpdq.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_faiss.py
  python-threatexchange/threatexchange/signal_type/pdq/__init__.py
  python-threatexchange/threatexchange/signal_type/pdq/pdq_faiss_matcher.py
  python-threatexchange/threatexchange/signal_type/pdq/pdq_hasher.py
  python-threatexchange/threatexchange/signal_type/pdq/pdq_index.py
  python-threatexchange/threatexchange/signal_type/pdq/pdq_utils.py
  python-threatexchange/threatexchange/signal_type/pdq/signal.py
  python-threatexchange/threatexchange/signal_type/tests/test_hash_from_x.py
  python-threatexchange/threatexchange/signal_type/tests/test_pdq_index.py
  python-threatexchange/threatexchange/tests/hashing/test_index_updates.py
  python-threatexchange/threatexchange/tests/hashing/test_pdq_faiss_matcher.py
  python-threatexchange/threatexchange/tests/hashing/test_pdq_hasher.py
  python-threatexchange/threatexchange/tests/hashing/test_pdq_utils.py
  python-threatexchange/threatexchange/tests/hashing/utils.py
Labels: CLA Signed, python-threatexchange

#1136 [pytx] Remove unimplemented interfaces
  python-threatexchange/threatexchange/cli/label_cmd.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
Labels: CLA Signed, python-threatexchange

#1135 [pytx][README] Updates from bug bash
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1137 [hma][ui] update hma webapp and docs npm package version
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/docs/package-lock.json
  hasher-matcher-actioner/docs/package.json
  hasher-matcher-actioner/docs/src/components/HomepageFeatures/index.tsx
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/forms/PreviewableDropzone.tsx
Labels: CLA Signed, hma, hma-ui

#1134 [pytx][dist][1/3] Match Distance Cleanup: Replacement ComparisonResult
  python-threatexchange/threatexchange/signal_type/index.py
Labels: CLA Signed, python-threatexchange

#1141 [VPDQ] Update vpdq/readme
  vpdq/README.md
Labels: CLA Signed

#1140 [vPDQ] Create pytx/extension/vpdq/README.md
  python-threatexchange/threatexchange/extensions/vpdq/README.md
Labels: CLA Signed, python-threatexchange

#1138 [pytx][dist][stacked 2/3] Swap HashComparison to distance
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/extensions/pdq_ocr/pdq_ocr.py
  python-threatexchange/threatexchange/extensions/tlsh/text_tlsh.py
  python-threatexchange/threatexchange/extensions/vpdq/video_vpdq.py
  python-threatexchange/threatexchange/signal_type/index.py
  python-threatexchange/threatexchange/signal_type/pdq/signal.py
  python-threatexchange/threatexchange/signal_type/raw_text.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/tests/signal_type_test_helper.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
  python-threatexchange/threatexchange/signal_type/url.py
Labels: CLA Signed, python-threatexchange

#1096 [pytx] Remove owner_id from base opinion
  python-threatexchange/threatexchange/cli/label_cmd.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/descriptor.py
  python-threatexchange/threatexchange/exchanges/fetch_state.py
  python-threatexchange/threatexchange/exchanges/helpers.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/stop_ncii_api.py
  python-threatexchange/threatexchange/exchanges/tests/test_state.py
  python-threatexchange/threatexchange/exchanges/tests/test_state_compatibility.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
Labels: CLA Signed, python-threatexchange

#1132 [vPDQ] Add vpdq/CONTRIBUTING.md
  CONTRIBUTING.md
  python-threatexchange/CONTRIBUTING.md
  vpdq/CONTRIBUTING.md
Labels: CLA Signed, python-threatexchange

#1143 [VPDQ]Add vpdq/python/readme for Pypi usage
  vpdq/MANIFEST.in
  vpdq/python/README.md
  vpdq/setup.py
Labels: CLA Signed

#1144 VPDQ- release 0.0.5
  vpdq/version.txt
Labels: CLA Signed

#1145 [VPDQ] Update vpdq-release.py to only generate source distribution
  vpdq/vpdq-release.py
Labels: CLA Signed

#1146 Release vPDQ 0.0.6
  vpdq/version.txt
Labels: CLA Signed

#1121 [pytx][cli] Defense against time rewinds
  python-threatexchange/threatexchange/cli/fetch_cmd.py
Labels: CLA Signed, python-threatexchange

#1149 [pytx] Expose access to verbose from help
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/main.py
Labels: CLA Signed, python-threatexchange

#1150 [pytx] dataset command signals_only => print_signals_only
  python-threatexchange/threatexchange/cli/dataset_cmd.py
Labels: CLA Signed, python-threatexchange

#1151 [pytx][fb_threatexchange] fix fetch() impl re-using state
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
Labels: CLA Signed, python-threatexchange

#1147 [pytx] SignalType now abstract compare_hash moved to FileHasher
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/signal_type/index.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/tests/signal_type_test_helper.py
  python-threatexchange/threatexchange/signal_type/tests/test_pdq_index.py
  python-threatexchange/threatexchange/signal_type/tests/test_raw_text.py
Labels: CLA Signed, python-threatexchange

#1148 [pytx][vpdq][stacked] vpdq distance
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/video_vpdq.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_index.py
  python-threatexchange/threatexchange/signal_type/index.py
Labels: CLA Signed, python-threatexchange

#1157 Move dataclass_json in tx.cli to tx.utils
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/utils/__init__.py
  python-threatexchange/threatexchange/utils/dataclass_json.py
Labels: CLA Signed, python-threatexchange

#1154 [py-tx] CONTRIBUTING.MD updates
  python-threatexchange/CONTRIBUTING.md
Labels: CLA Signed, python-threatexchange

#1158 [vPDQ] Benchmark CPP and python-binding implmentations
  vpdq/benchmark/README.MD
  vpdq/benchmark/benchmark.py
  vpdq/cpp/CMakeLists.txt
Labels: CLA Signed

#1153 [pytx] Add collab config to convert to signal
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/exchanges/helpers.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_ncmec.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/exchanges/tests/test_state.py
Labels: CLA Signed, python-threatexchange, backwards incompatible

#1152 [pytx][fb_threatexchange] Fix unxpected reaction format
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
Labels: CLA Signed, python-threatexchange

#1159 [pytx] Grammar/spelling pass in CONTRIBUTING.md
  python-threatexchange/CONTRIBUTING.md
Labels: CLA Signed, python-threatexchange

#1161 [pytx] Rename signal type video_vpdq to vpdq
  python-threatexchange/threatexchange/extensions/vpdq/manifest.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_hash_and_match.py
  python-threatexchange/threatexchange/extensions/vpdq/vpdq.py
Labels: CLA Signed, python-threatexchange

#1162 [pytx] Update print order in dataset_cmd
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/tests/dataset_cmd_test.py
Labels: CLA Signed, python-threatexchange, backwards incompatible

#1160 [pytx] Slightly more logging for time
  python-threatexchange/threatexchange/cli/fetch_cmd.py
Labels: CLA Signed, python-threatexchange

#1164 [VPDQ] Add python test github workflow and clean up test
  .github/workflows/vpdq-ci-python.yaml
  vpdq/cpp/regtest.py
  vpdq/python/tests/test_util.py
  vpdq/python/tests/test_vpdq_hash.py
Labels: CLA Signed

#1165 Allow import of threatexchange.signal_type.pdq.PdqSignal
  python-threatexchange/threatexchange/signal_type/pdq/__init__.py
Labels: CLA Signed, python-threatexchange

#1163 [VPDQ] Update computeHash parameter second_per_hash default to 1 and release as 0.0.7
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_hash.txt
  python-threatexchange/threatexchange/extensions/vpdq/vpdq.py
  vpdq/python/tests/test_vpdq_hash.py
  vpdq/python/vpdq.pyx
  vpdq/version.txt
Labels: CLA Signed, python-threatexchange

#1156 [pytx] tie SignalExchangeAPI instantiation with collab + authentication
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/label_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/api.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/tests/test_hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/api.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/impl/file_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/static_sample.py
  python-threatexchange/threatexchange/exchanges/impl/stop_ncii_api.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_ncmec.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_stopncii.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/exchanges/tests/test_state.py
  python-threatexchange/threatexchange/interface_validation.py
Labels: CLA Signed, python-threatexchange, backwards incompatible

#1166 [pytx] Mixin for SignalExchange with Auth
  python-threatexchange/mypy.ini
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/dataset/simple_serialization.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
  python-threatexchange/threatexchange/cli/tests/fake_extension.py
  python-threatexchange/threatexchange/exchanges/auth.py
  python-threatexchange/threatexchange/exchanges/impl/fb_threatexchange_api.py
  python-threatexchange/threatexchange/exchanges/impl/file_api.py
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/impl/static_sample.py
  python-threatexchange/threatexchange/exchanges/impl/stop_ncii_api.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/exchanges/tests/test_state.py
  python-threatexchange/threatexchange/extensions/manifest.py
  python-threatexchange/threatexchange/signal_type/pdq/pdq_faiss_matcher.py
Labels: CLA Signed, python-threatexchange

#1167 [pytx] Version 1.0.0
  python-threatexchange/setup.py
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#1169 [vpdq] Simple wrapping script
  vpdq/python/vpdq.pyx
  vpdq/setup.py
Labels: CLA Signed

#1171 [vpdq] 0.0.8
  vpdq/version.txt
Labels: CLA Signed

#1170 [pytx] Swap out PDQ sample data, match -A
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/cli/tests/dataset_cmd_test.py
  python-threatexchange/threatexchange/exchanges/fetch_state.py
  python-threatexchange/threatexchange/exchanges/helpers.py
  python-threatexchange/threatexchange/exchanges/impl/static_sample.py
  python-threatexchange/threatexchange/extensions/vpdq/tests/test_vpdq_faiss.py
  python-threatexchange/threatexchange/signal_type/pdq/signal.py
Labels: CLA Signed, python-threatexchange

#1168 [pytx] Remove Refactor notice from README.md
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1172 [pytx] 1.0.1
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#1173 [pytx] Fix ncmec compat bug from bad merge from #1096
  python-threatexchange/threatexchange/exchanges/impl/ncmec_api.py
  python-threatexchange/threatexchange/exchanges/tests/test_state_compatibility.py
Labels: CLA Signed, python-threatexchange

#1175 [pytx][vpdq] Fix typo in match str
  python-threatexchange/threatexchange/extensions/vpdq/vpdq_index.py
Labels: CLA Signed, python-threatexchange

#1131 Dynamically generate ddb-backed HMAConfigs from CollaborationConfigBase subclasses
  .github/workflows/hma-ci.yaml
  hasher-matcher-actioner/hmalib/common/configs/tests/test_tx_collab_config.py
  hasher-matcher-actioner/hmalib/common/configs/tx_collab_config.py
  hasher-matcher-actioner/hmalib/common/tests/test_s3_adapters.py
  hasher-matcher-actioner/hmalib/indexers/lcc.py
  hasher-matcher-actioner/hmalib/matchers/filters.py
  hasher-matcher-actioner/hmalib/matchers/tests/test_match_filters.py
  hasher-matcher-actioner/scripts/set_threatexchange_source
Labels: CLA Signed, hma

#1176 [multi] Store generic bank_info against each bank; connect tx_collab_configs to bank_ids
  hasher-matcher-actioner/hmalib/common/configs/tests/test_tx_collab_config.py
  hasher-matcher-actioner/hmalib/common/configs/tx_collab_config.py
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_bank_info.py
Labels: CLA Signed, hma
