Repository facebook/ThreatExchange, pull requests merged in 2022-06, with the labels that each got.

#1017 [pytx] Delete fetch_once(), long live fetch_iter()
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_api.py
  python-threatexchange/threatexchange/fetcher/apis/file_api.py
  python-threatexchange/threatexchange/fetcher/apis/static_sample.py
  python-threatexchange/threatexchange/fetcher/apis/stop_ncii_api.py
  python-threatexchange/threatexchange/fetcher/apis/tests/test_stopncii.py
  python-threatexchange/threatexchange/fetcher/fetch_api.py
  python-threatexchange/threatexchange/fetcher/fetch_state.py
  python-threatexchange/threatexchange/fetcher/simple/state.py
  python-threatexchange/threatexchange/fetcher/simple/tests/test_state.py
Labels: CLA Signed, python-threatexchange

#1022 [pytx] De-Interface FetchDelta, impl details moved to API
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_api.py
  python-threatexchange/threatexchange/fetcher/apis/file_api.py
  python-threatexchange/threatexchange/fetcher/apis/static_sample.py
  python-threatexchange/threatexchange/fetcher/apis/stop_ncii_api.py
  python-threatexchange/threatexchange/fetcher/apis/tests/test_stopncii.py
  python-threatexchange/threatexchange/fetcher/fetch_api.py
  python-threatexchange/threatexchange/fetcher/fetch_state.py
  python-threatexchange/threatexchange/fetcher/simple/state.py
  python-threatexchange/threatexchange/fetcher/simple/tests/test_state.py
Labels: CLA Signed, python-threatexchange

#1028 update CODEOWNERS file
  .github/CODEOWNERS
Labels: CLA Signed

#1024 Add CI action for tmk/cpp make regtest
  .github/workflows/tmk-ci-cpp.yml
  tmk/cpp/Makefile
Labels: CLA Signed

#1023 [pytx] Fetcher Implementation for NCMEC, Many Supporting Changes
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/dataclass_json.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/fetcher/apis/ncmec_api.py
  python-threatexchange/threatexchange/fetcher/apis/tests/test_ncmec.py
  python-threatexchange/threatexchange/fetcher/fetch_state.py
  python-threatexchange/threatexchange/ncmec/hash_api.py
  python-threatexchange/threatexchange/ncmec/tests/__init__.py
  python-threatexchange/threatexchange/ncmec/tests/test_hash_api.py
  python-threatexchange/threatexchange/stopncii/api.py
Labels: CLA Signed, python-threatexchange

#1026 Missing toplevel command
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/tests/cli_smoke_test.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
Labels: CLA Signed, python-threatexchange

#1025 [pytx][cli] Allow printing out signals, csv files
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/tests/dataset_cmd_test.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
Labels: CLA Signed, python-threatexchange

#1030 Update HMA CONTRIBUTING.md for devcontainer help
  hasher-matcher-actioner/CONTRIBUTING.md
Labels: CLA Signed, hma

#982 [pytx] Cleaner behavior for `threatexchange hash`
  python-threatexchange/threatexchange/cli/hash_cmd.py
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/cli/tests/hash_cmd_test.py
Labels: CLA Signed, python-threatexchange

#1031 [VPDQ] Add standalone function
  pdq/cpp/common/pdqhashtypes.cpp
  pdq/cpp/common/pdqhashtypes.h
Labels: CLA Signed, pdq

#1027 [pytx] README.md rewrite for 1.0
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1032 [VPDQ] Add VPDQ CPP Implementation
  .github/workflows/vpdq-ci-cpp-format.yml
  .github/workflows/vpdq-ci-cpp.yml
  vpdq/.clang-format
  vpdq/.gitignore
  vpdq/README.md
  vpdq/cpp/CMakeLists.txt
  vpdq/cpp/README.md
  vpdq/cpp/bin/match-hashes-brute.cpp
  vpdq/cpp/bin/match-hashes-byline.cpp
  vpdq/cpp/bin/vpdq-hash-video.cpp
  vpdq/cpp/hashing/bufferhasher.cpp
  vpdq/cpp/hashing/bufferhasher.h
  vpdq/cpp/hashing/filehasher.cpp
  vpdq/cpp/hashing/filehasher.h
  vpdq/cpp/hashing/matchTwoHash.cpp
  vpdq/cpp/hashing/matchTwoHash.h
  vpdq/cpp/hashing/vpdqHashType.h
  vpdq/cpp/io/vpdqio.cpp
  vpdq/cpp/io/vpdqio.h
  vpdq/cpp/regtest.py
  vpdq/cpp/vpdq_match.py
  vpdq/sample-hashes/README.md
  vpdq/sample-hashes/chair-19-sd-bar.txt
  vpdq/sample-hashes/chair-20-sd-bar.txt
  vpdq/sample-hashes/chair-22-sd-grey-bar.txt
  vpdq/sample-hashes/chair-22-sd-sepia-bar.txt
  vpdq/sample-hashes/chair-22-with-large-logo-bar.txt
  vpdq/sample-hashes/chair-22-with-small-logo-bar.txt
  vpdq/sample-hashes/chair-orig-22-fhd-no-bar.txt
  vpdq/sample-hashes/chair-orig-22-hd-no-bar.txt
  vpdq/sample-hashes/chair-orig-22-sd-bar.txt
  vpdq/sample-hashes/doorknob-hd-no-bar.txt
  vpdq/sample-hashes/pattern-hd-no-bar.txt
  vpdq/sample-hashes/pattern-longer-no-bar.txt
  vpdq/sample-hashes/pattern-sd-grey-bar.txt
  vpdq/sample-hashes/pattern-sd-with-large-logo-bar.txt
  vpdq/sample-hashes/pattern-sd-with-small-logo-bar.txt
Labels: CLA Signed

#1037 [pytx][cli] Root help cleanup
  python-threatexchange/threatexchange/cli/main.py
Labels: CLA Signed, python-threatexchange

#1038 [pytx][cli] fetch help refresh
  python-threatexchange/threatexchange/cli/fetch_cmd.py
Labels: CLA Signed, python-threatexchange

#1040 [VPDQ] Add standalone function for vpdq-python import
  pdq/cpp/common/pdqhashtypes.cpp
  pdq/cpp/common/pdqhashtypes.h
Labels: CLA Signed, pdq
