Repository facebook/ThreatExchange, pull requests merged in 2022-03, with the labels that each got.

#933 Add an EFS durable file system for hashing lambda
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/durable-fs/main.tf
  hasher-matcher-actioner/terraform/durable-fs/outputs.tf
  hasher-matcher-actioner/terraform/durable-fs/variables.tf
  hasher-matcher-actioner/terraform/hasher/main.tf
  hasher-matcher-actioner/terraform/hasher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#940 Add docusaurus source and a github workflow to deploy to gh-pages
  .github/workflows/hma-docs.yaml
  hasher-matcher-actioner/docs/.gitignore
  hasher-matcher-actioner/docs/README.md
  hasher-matcher-actioner/docs/babel.config.js
  hasher-matcher-actioner/docs/docs/concepts/_category_.yml
  hasher-matcher-actioner/docs/docs/concepts/index.md
  hasher-matcher-actioner/docs/docs/contributing/_category_.yml
  hasher-matcher-actioner/docs/docs/contributing/index.md
  hasher-matcher-actioner/docs/docs/customizing/_category_.yml
  hasher-matcher-actioner/docs/docs/customizing/index.md
  hasher-matcher-actioner/docs/docs/guides/_category_.yml
  hasher-matcher-actioner/docs/docs/guides/index.md
  hasher-matcher-actioner/docs/docs/installation/_category_.yml
  hasher-matcher-actioner/docs/docs/installation/index.md
  hasher-matcher-actioner/docs/docs/intro.md
  hasher-matcher-actioner/docs/docusaurus.config.js
  hasher-matcher-actioner/docs/package-lock.json
  hasher-matcher-actioner/docs/package.json
  hasher-matcher-actioner/docs/sidebars.js
  hasher-matcher-actioner/docs/src/components/HomepageFeatures/index.tsx
  hasher-matcher-actioner/docs/src/components/HomepageFeatures/styles.module.css
  hasher-matcher-actioner/docs/src/css/custom.css
  hasher-matcher-actioner/docs/src/pages/index.module.css
  hasher-matcher-actioner/docs/src/pages/index.tsx
  hasher-matcher-actioner/docs/src/pages/markdown-page.md
  hasher-matcher-actioner/docs/static/.nojekyll
  hasher-matcher-actioner/docs/static/img/docusaurus.png
  hasher-matcher-actioner/docs/static/img/favicon.ico
  hasher-matcher-actioner/docs/tsconfig.json
Labels: CLA Signed, hma

#941 hot-fix: docusaurus hrefs
  hasher-matcher-actioner/docs/docusaurus.config.js
Labels: CLA Signed, hma

#942 hotfix: use appropriate baseUrl. github repo names are case-sensitive
  hasher-matcher-actioner/docs/docusaurus.config.js
Labels: CLA Signed, hma

#947 [hma][hotfix] comment out vpc setting for hasher lambda
  hasher-matcher-actioner/terraform/hasher/main.tf
Labels: CLA Signed

#937 Support writing typed records to files grouped in disjointed time buckets
  hasher-matcher-actioner/hmalib/common/tests/test_timebucket.py
  hasher-matcher-actioner/hmalib/common/timebucketizer.py
  hasher-matcher-actioner/setup.py
Labels: CLA Signed, hma

#949 [py-tx] README.md updates
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#945 [hma][api] add prototype hash + match synchronous API
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/scripts/benchmark_for_match_api.py
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
Labels: CLA Signed, hma

#954 added HashRecord class to pipeline.py on separate branch
  hasher-matcher-actioner/hmalib/common/models/pipeline.py
Labels: CLA Signed, hma

#955 [py-tx] Approach for extensions
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/extensions/README.md
  python-threatexchange/threatexchange/extensions/__init__.py
  python-threatexchange/threatexchange/extensions/manifest.py
  python-threatexchange/threatexchange/extensions/text_tlsh/__init__.py
  python-threatexchange/threatexchange/extensions/text_tlsh/tests/test_tlsh_hash_and_match.py
  python-threatexchange/threatexchange/extensions/text_tlsh/text_tlsh.py
  python-threatexchange/threatexchange/signal_type/tests/test_hash_from_x.py
Labels: CLA Signed, python-threatexchange

#957 Fixup extensions README.md
  python-threatexchange/threatexchange/extensions/README.md
Labels: CLA Signed, python-threatexchange

#958 Cli e2e testing
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/hash_cmd.py
  python-threatexchange/threatexchange/cli/label_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/cli/tests/__init__.py
  python-threatexchange/threatexchange/cli/tests/cli_smoke_test.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
  python-threatexchange/threatexchange/cli/tests/hash_cmd_test.py
  python-threatexchange/threatexchange/cli/tests/sample_data_e2e_test.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/url.py
Labels: CLA Signed, python-threatexchange

#960 WIP: Compilation changes for Windows
  pdq/cpp/hashing/pdqhashing.cpp
  tmk/.gitignore
  tmk/README.md
  tmk/cpp/Makefile
  tmk/cpp/algo/tmkfv.cpp
  tmk/cpp/bin/tmk-hash-video.cpp
  tmk/cpp/hashing/filehasher.cpp
Labels: CLA Signed, pdq

#961 [HMA] Add dumb API for batch detached signal additions
  hasher-matcher-actioner/hmalib/banks/bank_operations.py
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/setup.py
Labels: CLA Signed, hma

#962 During index building, measure time to fetch data from banks.
  hasher-matcher-actioner/hmalib/banks/bank_operations.py
  hasher-matcher-actioner/hmalib/lambdas/unified_indexer.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
Labels: CLA Signed, hma

#959 Parallel, multicore processing for TMK
  tmk/.gitignore
  tmk/cpp/Makefile
  tmk/cpp/bin/tmk-clusterize.cpp
  tmk/cpp/bin/tmk-query-with-faiss.cpp
  tmk/cpp/bin/tmk-query.cpp
  tmk/cpp/bin/tmk-two-level-score.cpp
Labels: CLA Signed, tmk+pdqf
