Repository facebook/ThreatExchange, pull requests merged in 2022-04, with the labels that each got.

#967 Update to root README.md
  README.md
Labels: CLA Signed

#969 Parallel processing - improved
  tmk/README.md
  tmk/cpp/bin/tmk-clusterize.cpp
  tmk/cpp/bin/tmk-query-with-faiss.cpp
  tmk/cpp/bin/tmk-query.cpp
  tmk/cpp/bin/tmk-two-level-score.cpp
Labels: CLA Signed

#972 [pytx] Incremental progress fixing up fb_threat_exchange
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/extensions/text_tlsh/tests/test_tlsh_hash_and_match.py
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_api.py
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_signal.py
  python-threatexchange/threatexchange/fetcher/simple/state.py
  python-threatexchange/threatexchange/signal_type/md5.py
  python-threatexchange/threatexchange/signal_type/pdq.py
  python-threatexchange/threatexchange/signal_type/pdq_ocr.py
  python-threatexchange/threatexchange/signal_type/raw_text.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
  python-threatexchange/threatexchange/signal_type/tests/test_hash_from_x.py
  python-threatexchange/threatexchange/signal_type/trend_query.py
  python-threatexchange/threatexchange/signal_type/url.py
  python-threatexchange/threatexchange/signal_type/url_md5.py
Labels: CLA Signed, python-threatexchange

#973 [pytx] fix subtle bug with match
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/cli/dataset_cmd.py
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/signal_type/url.py
Labels: CLA Signed, python-threatexchange

#974 [pytx] Print one match per signal type
  python-threatexchange/threatexchange/cli/match_cmd.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
  python-threatexchange/threatexchange/cli/tests/sample_data_e2e_test.py
  python-threatexchange/threatexchange/fetcher/fetch_state.py
Labels: CLA Signed, python-threatexchange

#968 [py-tx] threatexchange config api fb_threat_exchange -L & -I
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/extensions/manifest.py
  python-threatexchange/threatexchange/extensions/text_tlsh/tests/test_tlsh_hash_and_match.py
  python-threatexchange/threatexchange/fb_threatexchange/api.py
  python-threatexchange/threatexchange/fb_threatexchange/collab_config.py
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_api.py
  python-threatexchange/threatexchange/fetcher/apis/file_api.py
  python-threatexchange/threatexchange/fetcher/collab_config.py
Labels: CLA Signed, python-threatexchange

#970 Automate local copy of py-tx when a directory found
  hasher-matcher-actioner/.gitignore
  hasher-matcher-actioner/CONTRIBUTING.md
  hasher-matcher-actioner/Dockerfile
  hasher-matcher-actioner/scripts/set_threatexchange_source
  hasher-matcher-actioner/scripts/update_lambda_docker_image.sh
Labels: CLA Signed, hma

#977 [pytx] Fix text matching, add a stupid framework for testing signal types
  python-threatexchange/threatexchange/signal_type/raw_text.py
  python-threatexchange/threatexchange/signal_type/tests/__init__.py
  python-threatexchange/threatexchange/signal_type/tests/signal_type_test_helper.py
  python-threatexchange/threatexchange/signal_type/tests/test_raw_text.py
Labels: CLA Signed, python-threatexchange

#983 [pytx] Barret's requested doc changes
  python-threatexchange/threatexchange/signal_type/tests/signal_type_test_helper.py
Labels: CLA Signed, python-threatexchange

#986 README for video PDQ
  pdq/video/README.md
Labels: CLA Signed, pdq

#987 [vPDQ] mv to a toplevel project
  vpdq/README.md
Labels: CLA Signed

#988 Update root README for vPDQ
  README.md
Labels: CLA Signed

#989 Fix validation on threatexchange hash inputs
  README.md
  python-threatexchange/threatexchange/cli/hash_cmd.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
  python-threatexchange/threatexchange/cli/tests/hash_cmd_test.py
  python-threatexchange/threatexchange/signal_type/signal_base.py
Labels: CLA Signed, python-threatexchange

#990 [pytx] StopNCII API
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/fb_threatexchange/api.py
  python-threatexchange/threatexchange/stopncii/__init__.py
  python-threatexchange/threatexchange/stopncii/api.py
  python-threatexchange/threatexchange/stopncii/tests/test_api.py
Labels: CLA Signed, python-threatexchange

#976 Connecting Timebucketizer instance to LCC Indexer class
  hasher-matcher-actioner/hmalib/common/tests/test_timebucket.py
  hasher-matcher-actioner/hmalib/common/timebucketizer.py
  hasher-matcher-actioner/hmalib/indexers/lcc.py
  hasher-matcher-actioner/hmalib/indexers/tests/test_lcc_indexer.py
Labels: CLA Signed, hma, mlh-fellowship-2022

#981 [hma][lcc] Add scheduled custodian to reduce number of files per timebucket in durable EFS
  hasher-matcher-actioner/hmalib/common/tests/test_timebucket.py
  hasher-matcher-actioner/hmalib/common/timebucketizer.py
  hasher-matcher-actioner/hmalib/lambdas/custodian.py
  hasher-matcher-actioner/terraform/lcc_custodian/main.tf
  hasher-matcher-actioner/terraform/lcc_custodian/variables.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/variables.tf
Labels: CLA Signed, hma, mlh-fellowship-2022

#991 [py-tx] Minor fixes to StopNCII API
  python-threatexchange/threatexchange/stopncii/api.py
  python-threatexchange/threatexchange/stopncii/tests/test_api.py
Labels: CLA Signed, python-threatexchange

#993 Setup API implementation for interval squashing
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/lcc.py
Labels: CLA Signed, hma, mlh-fellowship-2022

#996 [pytx] threatexchange hash to give error on invalid file
  python-threatexchange/threatexchange/cli/hash_cmd.py
  python-threatexchange/threatexchange/cli/tests/hash_cmd_test.py
Labels: CLA Signed, python-threatexchange

#1001 Update CONTRIBUTING.md for devcontainer.json
  hasher-matcher-actioner/CONTRIBUTING.md
Labels: CLA Signed, hma

#998 [py-tx] NCMEC API. GET status and entries
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/ncmec/__init__.py
  python-threatexchange/threatexchange/ncmec/hash_api.py
  python-threatexchange/threatexchange/ncmec/tests/test_hash_api.py
Labels: CLA Signed, python-threatexchange

#1003 Minor update to HMA Contributing.md
  hasher-matcher-actioner/CONTRIBUTING.md
Labels: CLA Signed, hma

#992 [breaking][hma] 1/n: Use signal_type_mapping instead of static signal / content types
  .github/workflows/hma-ci.yaml
  hasher-matcher-actioner/hmalib/common/mappings.py
  hasher-matcher-actioner/hmalib/common/messages/bank.py
  hasher-matcher-actioner/hmalib/common/messages/submit.py
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/common/models/content.py
  hasher-matcher-actioner/hmalib/common/models/pipeline.py
  hasher-matcher-actioner/hmalib/common/models/signal.py
  hasher-matcher-actioner/hmalib/common/models/tests/ddb_test_common.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_bank_member_removes.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_bank_member_signals_to_process.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_content_models.py
  hasher-matcher-actioner/hmalib/common/models/tests/test_pipeline_models.py
  hasher-matcher-actioner/hmalib/common/s3_adapters.py
  hasher-matcher-actioner/hmalib/common/tests/config_test.py
  hasher-matcher-actioner/hmalib/common/tests/mapping_common.py
  hasher-matcher-actioner/hmalib/common/tests/test_s3_adapters.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/content.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/api/middleware.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
  hasher-matcher-actioner/hmalib/lambdas/api/tests/test_bank_member_pagination.py
  hasher-matcher-actioner/hmalib/lambdas/unified_indexer.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/hmalib/matchers/tests/test_match_filters.py
  hasher-matcher-actioner/hmalib/scripts/cli/command_base.py
  hasher-matcher-actioner/hmalib/scripts/cli/main.py
  hasher-matcher-actioner/hmalib/scripts/cli/migrate.py
  hasher-matcher-actioner/hmalib/scripts/cli/run_api.py
  hasher-matcher-actioner/hmalib/scripts/migrations/2022_04_02_default_content_signal_type_configs.py
  hasher-matcher-actioner/hmalib/scripts/migrations/__init__.py
  hasher-matcher-actioner/hmalib/scripts/migrations/migrations_base.py
  hasher-matcher-actioner/hmalib/writebacker/writebacker_base.py
  hasher-matcher-actioner/scripts/set_threatexchange_source
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/migrations/main.tf
  hasher-matcher-actioner/terraform/migrations/variables.tf
Labels: CLA Signed, hma

#1000 Dashboard support for LCC and Metrics for gathering data
  hasher-matcher-actioner/hmalib/indexers/lcc.py
  hasher-matcher-actioner/hmalib/indexers/tests/test_lcc_indexer.py
  hasher-matcher-actioner/hmalib/metrics/__init__.py
  hasher-matcher-actioner/terraform/lcc_custodian/main.tf
Labels: CLA Signed, hma, mlh-fellowship-2022

#999 Add get_index() and connect lcc_hasher() to LCCIndexer
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/lcc.py
  hasher-matcher-actioner/terraform/api/main.tf
Labels: CLA Signed, hma, mlh-fellowship-2022

#1007 Make hasher work with pytx refactored
  hasher-matcher-actioner/hmalib/hashing/unified_hasher.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
  hasher-matcher-actioner/terraform/hasher/main.tf
Labels: CLA Signed, hma
