Repository facebook/ThreatExchange, pull requests merged in 2022-02, with the labels that each got.

#924 BankMember tags are not editable
  hasher-matcher-actioner/webapp/src/components/PillBox.tsx
  hasher-matcher-actioner/webapp/src/forms/BankMemberForm.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBankMember.tsx
Labels: CLA Signed, hma, hma-ui

#925 [hma][api][ui] update match details table to include signal bank details if present
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/matches.py
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/components/ContentMatchTable.tsx
  hasher-matcher-actioner/webapp/src/pages/ContentDetails.tsx
  hasher-matcher-actioner/webapp/src/pages/layouts/FullWidthLeftAlignedLayout.tsx
Labels: CLA Signed, hma, hma-ui

#926 Infra for confirmations; dedicated empty state component
  hasher-matcher-actioner/webapp/src/App.tsx
  hasher-matcher-actioner/webapp/src/AppWithConfirmations.tsx
  hasher-matcher-actioner/webapp/src/Sidebar.tsx
  hasher-matcher-actioner/webapp/src/components/EmptyState.tsx
  hasher-matcher-actioner/webapp/src/components/settings/ActionPerformer/ActionPerformerRows.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/Members.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewAllBanks.tsx
  hasher-matcher-actioner/webapp/src/pages/bank-management/ViewBankMember.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.tsx
Labels: CLA Signed, hma, hma-ui

#930 [devcontainer] update Dockerfile base image to specify AMD64
  hasher-matcher-actioner/.devcontainer/Dockerfile
Labels: CLA Signed

#931 implement pagination for bank members page
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/scripts/create_test_bank.py
  hasher-matcher-actioner/webapp/package-lock.json
  hasher-matcher-actioner/webapp/package.json
  hasher-matcher-actioner/webapp/src/pages/bank-management/Members.tsx
Labels: CLA Signed, hma, hma-ui

#934 [hma][webapp] update package-lock.json to address minor vulnerability
  hasher-matcher-actioner/webapp/package-lock.json
Labels: CLA Signed, hma, hma-ui

#936 [pdq][cpp] add -Wno-unknown-warning-option to Makefile flags avoid error for unrecognized flags
  pdq/cpp/Makefile
Labels: CLA Signed, pdq

#935 [hma][hmalib] bump mypy version and update hmacli install command
  hasher-matcher-actioner/Makefile
  hasher-matcher-actioner/mypy.ini
  hasher-matcher-actioner/requirements-dev.txt
  hasher-matcher-actioner/setup.py
Labels: CLA Signed, hma
