Repository facebook/ThreatExchange, pull requests merged in 2022-05, with the labels that each got.

#1012 [pytx] CLI can fix extension failures itself
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/exceptions.py
  python-threatexchange/threatexchange/cli/main.py
Labels: CLA Signed, python-threatexchange

#1013 [pytx] Apply generics to SignalExchangeAPI
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/fetcher/apis/fb_threatexchange_api.py
  python-threatexchange/threatexchange/fetcher/apis/file_api.py
  python-threatexchange/threatexchange/fetcher/apis/static_sample.py
  python-threatexchange/threatexchange/fetcher/apis/stop_ncii_api.py
  python-threatexchange/threatexchange/fetcher/fetch_api.py
  python-threatexchange/threatexchange/meta.py
Labels: CLA Signed, python-threatexchange

#1015 [pytx] No more 3.6 support
  .github/workflows/python-threatexchange-ci.yaml
  .github/workflows/python-threatexchange-release.yaml
Labels: CLA Signed

#1014 [py-tx][backwards incompatible] Split Update Format and Index Format
  python-threatexchange/threatexchange/cli/cli_state.py
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/common.py
  python-threatexchange/threatexchange/fetcher/apis/file_api.py
  python-threatexchange/threatexchange/fetcher/apis/static_sample.py
  python-threatexchange/threatexchange/fetcher/apis/stop_ncii_api.py
  python-threatexchange/threatexchange/fetcher/apis/tests/test_stopncii.py
  python-threatexchange/threatexchange/fetcher/fetch_api.py
  python-threatexchange/threatexchange/fetcher/fetch_state.py
  python-threatexchange/threatexchange/fetcher/simple/state.py
  python-threatexchange/threatexchange/fetcher/simple/tests/test_state.py
Labels: CLA Signed, python-threatexchange, backwards incompatible

#1016 [hashing][minor][fix] update cpp Makefiles and README on details of running on M1
  pdq/cpp/Makefile
  pdq/cpp/README.md
  tmk/cpp/Makefile
  tmk/cpp/README.md
Labels: CLA Signed, pdq
