Repository facebook/ThreatExchange, pull requests merged in 2022-12, with the labels that each got.

#1223 [smol] Get docker build to work and miscellaneous changes
  hasher-matcher-actioner/.devcontainer/Dockerfile
  hasher-matcher-actioner/Dockerfile
  hasher-matcher-actioner/terraform/migrations/main.tf
  hasher-matcher-actioner/workspace.code-workspace
Labels: CLA Signed, hma

#1224 Support user managed secrets using AWS Secrets Manager
  hasher-matcher-actioner/hmalib/aws_secrets.py
  hasher-matcher-actioner/hmalib/common/threatexchange_config.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_auth.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/datasets.py
  hasher-matcher-actioner/hmalib/lambdas/fetcher.py
  hasher-matcher-actioner/hmalib/writebacker/writebacker_base.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/terraform/api/variables.tf
  hasher-matcher-actioner/terraform/fetcher/main.tf
  hasher-matcher-actioner/terraform/fetcher/variables.tf
  hasher-matcher-actioner/terraform/main.tf
Labels: CLA Signed, hma

#1226 [hma] Fix indexing, matching and hashing
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/indexers/index_store.py
  hasher-matcher-actioner/hmalib/lambdas/api/indexes.py
  hasher-matcher-actioner/hmalib/lambdas/common.py
  hasher-matcher-actioner/hmalib/lambdas/hashing.py
  hasher-matcher-actioner/hmalib/lambdas/matcher.py
  hasher-matcher-actioner/hmalib/lambdas/unified_indexer.py
  hasher-matcher-actioner/hmalib/matchers/matchers_base.py
  hasher-matcher-actioner/terraform/.terraform.lock.hcl
  hasher-matcher-actioner/terraform/authentication-shared/main.tf
  hasher-matcher-actioner/terraform/indexer/main.tf
  hasher-matcher-actioner/terraform/main.tf
  hasher-matcher-actioner/terraform/matcher/main.tf
Labels: CLA Signed, hma

#1227 Allow using config backed signal_type_mapping in all submit APIs.
  hasher-matcher-actioner/hmalib/lambdas/api/middleware.py
  hasher-matcher-actioner/hmalib/lambdas/api/submit.py
Labels: CLA Signed, hma

#1228 [py-tx] Fix NCMEC large fingerprints
  python-threatexchange/threatexchange/cli/fetch_cmd.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/tests/test_hash_api.py
Labels: CLA Signed, python-threatexchange

#1229 [py-tx] 1.0.8
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#1230 [hma][ui] Support updating credentials for exchanges from HMA UI
  hasher-matcher-actioner/hmalib/common/configs/tests/test_tx_apis.py
  hasher-matcher-actioner/hmalib/common/configs/tx_apis.py
  hasher-matcher-actioner/hmalib/lambdas/api/api_root.py
  hasher-matcher-actioner/hmalib/lambdas/api/exchanges.py
  hasher-matcher-actioner/terraform/api/main.tf
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/messages/ExchangeMessages.tsx
  hasher-matcher-actioner/webapp/src/pages/Settings.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ExchangesTab.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ThreatExchangeSettingsTab.tsx
Labels: CLA Signed, hma, hma-ui

#1232 stopncii submit_feedbacks will throw AttributeError
  python-threatexchange/threatexchange/exchanges/clients/stopncii/api.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/tests/test_api.py
Labels: CLA Signed, python-threatexchange

#1234 fix #1222: Add unit test for fetcher; fix bugs found as a result
  hasher-matcher-actioner/hmalib/common/models/bank.py
  hasher-matcher-actioner/hmalib/fetching/bank_store.py
  hasher-matcher-actioner/hmalib/fetching/fetcher.py
  hasher-matcher-actioner/hmalib/fetching/tests/__init__.py
  hasher-matcher-actioner/hmalib/fetching/tests/test_fetcher_and_bank_store.py
Labels: CLA Signed, hma

#1235 UI to add new collab configs
  hasher-matcher-actioner/hmalib/common/configs/tx_apis.py
  hasher-matcher-actioner/hmalib/lambdas/api/collabs.py
  hasher-matcher-actioner/webapp/src/Api.tsx
  hasher-matcher-actioner/webapp/src/components/PillBox.tsx
  hasher-matcher-actioner/webapp/src/messages/CollabMessages.tsx
  hasher-matcher-actioner/webapp/src/pages/collaborations/AddCollaborationModal.tsx
  hasher-matcher-actioner/webapp/src/pages/collaborations/ViewCollaborations.tsx
  hasher-matcher-actioner/webapp/src/pages/settings/ExchangesTab.tsx
Labels: CLA Signed, hma, hma-ui

#1238 fix botched merge conflict resolution
  hasher-matcher-actioner/.devcontainer/devcontainer.json
  hasher-matcher-actioner/hmalib/fetching/fetcher.py
  hasher-matcher-actioner/hmalib/fetching/tests/test_fetcher_and_bank_store.py
Labels: CLA Signed, hma

#1237 [py-tx] 1.0.9
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#1239 [pdq] README to refer to reference thresholds
  pdq/README.md
Labels: CLA Signed, pdq

#1240 fix minor typos in README
  hasher-matcher-actioner/README.md
Labels: CLA Signed, hma
