Repository facebook/ThreatExchange, pull requests merged in 2023-09, with the labels that each got.

#1349 OMM: Bring in SQLAlchemy, get database working
  open-media-match/.devcontainer/devcontainer.json
  open-media-match/.devcontainer/omm_config.py
  open-media-match/.devcontainer/startup.sh
  open-media-match/pyproject.toml
  open-media-match/src/OpenMediaMatch/__init__.py
  open-media-match/src/OpenMediaMatch/app.py
  open-media-match/src/OpenMediaMatch/migrations/README
  open-media-match/src/OpenMediaMatch/migrations/alembic.ini
  open-media-match/src/OpenMediaMatch/migrations/env.py
  open-media-match/src/OpenMediaMatch/migrations/script.py.mako
  open-media-match/src/OpenMediaMatch/migrations/versions/b44643ee7ef0_.py
  open-media-match/src/OpenMediaMatch/models.py
Labels: CLA Signed

#1354 [omm] fix formatting
  open-media-match/src/OpenMediaMatch/storage/default.py
  open-media-match/src/OpenMediaMatch/storage/interface.py
  open-media-match/src/OpenMediaMatch/storage/mocked.py
Labels: CLA Signed

#1356 [pytx] Add py.typed marker to threatexchange
  python-threatexchange/setup.py
Labels: CLA Signed, python-threatexchange

#1357 [pytx] 1.0.11
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#1358 The computation of intGradientSum was found to be inaccurate.
  pdq/php/pdqhasher.php
Labels: CLA Signed, pdq

#1355 [omm] Hash api implementation first draft
  open-media-match/pyproject.toml
  open-media-match/src/OpenMediaMatch/__init__.py
  open-media-match/src/OpenMediaMatch/app_resources.py
  open-media-match/src/OpenMediaMatch/blueprints/hashing.py
  open-media-match/src/OpenMediaMatch/migrations/env.py
  open-media-match/src/OpenMediaMatch/models.py
  open-media-match/src/OpenMediaMatch/storage/interface.py
Labels: CLA Signed

#1359 [omm][api] Hash api to detect content type
  open-media-match/src/OpenMediaMatch/blueprints/hashing.py
Labels: CLA Signed

#1363 [omm] Tidy up vscode devcontainer.json
  open-media-match/.devcontainer/devcontainer.json
Labels: CLA Signed

#1360 [pytx] Add typed marker, attempt 2
  python-threatexchange/threatexchange/py.typed
Labels: CLA Signed, python-threatexchange

#1364 [omm] Add requests package to pyproject.toml
  open-media-match/pyproject.toml
Labels: CLA Signed

#1361 [omm][devcontainer] Add home mount for ease of access to local files
  open-media-match/.devcontainer/devcontainer.json
Labels: CLA Signed

#1365 [pytx] 1.0.12 - py.typed attempt #2
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#1366 [omm] implement lookup and mock index
  open-media-match/src/OpenMediaMatch/app_resources.py
  open-media-match/src/OpenMediaMatch/blueprints/hashing.py
  open-media-match/src/OpenMediaMatch/blueprints/matching.py
  open-media-match/src/OpenMediaMatch/models.py
  open-media-match/src/OpenMediaMatch/storage/interface.py
  open-media-match/src/OpenMediaMatch/storage/mocked.py
Labels: CLA Signed

#1368 [omm] deplopulate __init__ and delint
  open-media-match/.devcontainer/startup.sh
  open-media-match/src/OpenMediaMatch/__init__.py
  open-media-match/src/OpenMediaMatch/app.py
  open-media-match/src/OpenMediaMatch/blueprints/curation.py
  open-media-match/src/OpenMediaMatch/blueprints/hashing.py
  open-media-match/src/OpenMediaMatch/blueprints/matching.py
  open-media-match/src/OpenMediaMatch/database.py
  open-media-match/src/OpenMediaMatch/persistence.py
  open-media-match/src/OpenMediaMatch/storage/interface.py
  open-media-match/src/OpenMediaMatch/storage/mocked.py
  open-media-match/src/OpenMediaMatch/tests/test_api.py
  open-media-match/src/OpenMediaMatch/utils.py
Labels: CLA Signed

#1369 [omm] Fetch interfaces
  open-media-match/src/OpenMediaMatch/background_tasks/__init__.py
  open-media-match/src/OpenMediaMatch/background_tasks/fetcher.py
  open-media-match/src/OpenMediaMatch/storage/interface.py
  open-media-match/src/OpenMediaMatch/storage/mocked.py
Labels: CLA Signed

#1370 [omm] background task placeholders
  open-media-match/src/OpenMediaMatch/app.py
  open-media-match/src/OpenMediaMatch/background_tasks/build_index.py
  open-media-match/src/OpenMediaMatch/background_tasks/fetcher.py
Labels: CLA Signed

#1372 [omm][temporarily breaking] Bank relationships and some storage iface
  open-media-match/src/OpenMediaMatch/app.py
  open-media-match/src/OpenMediaMatch/blueprints/curation.py
  open-media-match/src/OpenMediaMatch/database.py
  open-media-match/src/OpenMediaMatch/storage/default.py
  open-media-match/src/OpenMediaMatch/storage/interface.py
  open-media-match/src/OpenMediaMatch/storage/mocked.py
Labels: CLA Signed

#1373 [omm] Database fixes
  open-media-match/.devcontainer/docker-compose.yaml
  open-media-match/CONTRIBUTING.md
  open-media-match/src/OpenMediaMatch/blueprints/curation.py
  open-media-match/src/OpenMediaMatch/tests/test_api.py
Labels: CLA Signed

#1375 [omm] Fix merge conflict
  .github/workflows/omm-ci.yaml
  open-media-match/.devcontainer/omm_config.py
  open-media-match/src/OpenMediaMatch/blueprints/curation.py
  open-media-match/src/OpenMediaMatch/tests/omm_config.py
Labels: CLA Signed

#1377 [pytx] Expose dataclass_json asdict
  python-threatexchange/threatexchange/utils/dataclass_json.py
Labels: python-threatexchange

#1376 [omm] Collaboration Config table
  open-media-match/src/OpenMediaMatch/database.py
  open-media-match/src/OpenMediaMatch/tests/test_api.py
  open-media-match/src/OpenMediaMatch/tests/test_database.py
  open-media-match/src/OpenMediaMatch/tests/utils.py
Labels: CLA Signed

#1381 [omm] Even more bank api updates
  open-media-match/src/OpenMediaMatch/app.py
  open-media-match/src/OpenMediaMatch/blueprints/curation.py
  open-media-match/src/OpenMediaMatch/database.py
  open-media-match/src/OpenMediaMatch/storage/default.py
  open-media-match/src/OpenMediaMatch/storage/interface.py
  open-media-match/src/OpenMediaMatch/storage/mocked.py
  open-media-match/src/OpenMediaMatch/tests/test_api.py
  open-media-match/src/OpenMediaMatch/tests/utils.py
  open-media-match/src/OpenMediaMatch/utils.py
Labels: CLA Signed
