Repository facebook/ThreatExchange, pull requests merged in 2023-01, with the labels that each got.

#1242 Add note on git ssh cache errors
  hasher-matcher-actioner/CONTRIBUTING.md
Labels: CLA Signed, hma

#1244 [pytx] Fix build badge (without fixing build)
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1246 Update StopNCII key order in README.md
  python-threatexchange/README.md
Labels: CLA Signed, python-threatexchange

#1248 Create README for migrations
  hasher-matcher-actioner/terraform/migrations/README.md
Labels: CLA Signed, hma

#1251 Add missing copyright headers and bump pyjwt version in hmalib
  hasher-matcher-actioner/examples/integrations/workplace/workplace.py
  hasher-matcher-actioner/examples/integrations/workplace/workplace.tf
  hasher-matcher-actioner/hmalib/indexers/tests/test_lcc_indexer.py
  hasher-matcher-actioner/hmalib/lambdas/api/lcc.py
  hasher-matcher-actioner/hmalib/lambdas/custodian.py
  hasher-matcher-actioner/setup.py
  hasher-matcher-actioner/terraform/durable-fs/outputs.tf
  hasher-matcher-actioner/terraform/hasher/main.tf
  hasher-matcher-actioner/terraform/hasher/outputs.tf
  hasher-matcher-actioner/terraform/lcc_custodian/variables.tf
  hasher-matcher-actioner/terraform/matcher/outputs.tf
  hasher-matcher-actioner/terraform/migrations/variables.tf
  hasher-matcher-actioner/webapp/src/messages/CollabMessages.tsx
  hasher-matcher-actioner/webapp/src/messages/ExchangeMessages.tsx
  hasher-matcher-actioner/webapp/src/styles/_dropzone.scss
  hasher-matcher-actioner/workspace.code-workspace
  pdq/wasm/scripts/pdq.js
  pdq/wasm/server.js
  pdq/wasm/styles/style.css
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver/Program.cs
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver/Services/PDQMD5Hashing.cs
  pdq/wasm/test/WebAssemblySeleniumWebDriver/WebAssemblySeleniumWebDriver/Utils/FileUtils.cs
  python-threatexchange/threatexchange/__main__.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_collabs_test.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_extension_test.py
  python-threatexchange/threatexchange/cli/tests/config_cmd_misc_test.py
  python-threatexchange/threatexchange/cli/tests/dataset_cmd_test.py
  python-threatexchange/threatexchange/cli/tests/hash_cmd_test.py
  python-threatexchange/threatexchange/cli/tests/match_cmd_test.py
  python-threatexchange/threatexchange/cli/tests/sample_data_e2e_test.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/tests/test_hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/tests/test_api.py
  vpdq/benchmark/benchmark.py
  vpdq/cpp/bin/match-hashes-brute.cpp
  vpdq/cpp/bin/match-hashes-byline.cpp
  vpdq/cpp/bin/vpdq-hash-video.cpp
  vpdq/cpp/hashing/bufferhasher.cpp
  vpdq/cpp/hashing/bufferhasher.h
  vpdq/cpp/hashing/filehasher.cpp
  vpdq/cpp/hashing/filehasher.h
  vpdq/cpp/hashing/matchTwoHash.cpp
  vpdq/cpp/hashing/matchTwoHash.h
  vpdq/cpp/hashing/vpdqHashType.h
  vpdq/cpp/io/vpdqio.cpp
  vpdq/cpp/io/vpdqio.h
  vpdq/cpp/regtest.py
  vpdq/cpp/vpdq_match.py
  vpdq/vpdq-release.py
Labels: CLA Signed, pdq, python-threatexchange, hma, hma-ui

#1254 [pytx] fix broken gh actions for pytest and lint
  python-threatexchange/setup.py
  python-threatexchange/threatexchange/cli/tests/e2e_test_helper.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/api.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/tests/hashing/test_pdq_faiss_matcher.py
Labels: CLA Signed, python-threatexchange
