Repository facebook/ThreatExchange, pull requests merged in 2024-09, with the labels that each got.

#1617 [pytx] Add Tech Against Terrorism Hash API
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/api.py
  python-threatexchange/threatexchange/exchanges/clients/ncmec/hash_api.py
  python-threatexchange/threatexchange/exchanges/clients/stopncii/api.py
  python-threatexchange/threatexchange/exchanges/clients/techagainstterrorism/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/techagainstterrorism/api.py
  python-threatexchange/threatexchange/exchanges/clients/techagainstterrorism/tests/__init__.py
  python-threatexchange/threatexchange/exchanges/clients/techagainstterrorism/tests/test_api.py
  python-threatexchange/threatexchange/exchanges/clients/utils/common.py
Labels: CLA Signed

#1619 [pdq] Add logo
  pdq/pdq_blue_transparent.png
Labels: CLA Signed, pdq

#1621 [pdq] Add logo in README.md
  pdq/README.md
Labels: CLA Signed

#1620 [tmk] Add logo
  tmk/tmk_transparent.png
Labels: CLA Signed, tmk+pdqf

#1618 [py-tx] Validate hash length
  python-threatexchange/threatexchange/exchanges/clients/stopncii/api.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/signal_type/pdq/signal.py
Labels: CLA Signed

#1622 [pytx] Tech Against Terrorism SignalTypeAPI Implementation
  python-threatexchange/README.md
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/main.py
  python-threatexchange/threatexchange/exchanges/clients/techagainstterrorism/api.py
  python-threatexchange/threatexchange/exchanges/clients/techagainstterrorism/tests/test_api.py
  python-threatexchange/threatexchange/exchanges/clients/utils/__init__.py
  python-threatexchange/threatexchange/exchanges/impl/techagainstterrorism_api.py
  python-threatexchange/threatexchange/exchanges/impl/tests/test_techagainstterrorism.py
Labels: CLA Signed

#1623 Update Extensions Wiki for signal_type_test_helper
  python-threatexchange/threatexchange/extensions/README.md
Labels: CLA Signed

#1625 Add required copyright headers to files missing it
  Dockerfile.vpdq
  hasher-matcher-actioner/src/OpenMediaMatch/blueprints/curation.py
  hasher-matcher-actioner/src/OpenMediaMatch/migrations/env.py
  hasher-matcher-actioner/src/OpenMediaMatch/migrations/script.py.mako
  hasher-matcher-actioner/src/OpenMediaMatch/templates/bootstrap.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/add_to_bank_form.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/banks_grid.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/content_signal.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/create_exchange_modal.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/dev_mode_bar.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/exchange_status.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/index_status.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/match_dbg_upload.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/match_form.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/nav_bar.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/pages/banks.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/pages/exchanges.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/pages/home.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/pages/match_dbg.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/tests/test_api.py
  hasher-matcher-actioner/src/OpenMediaMatch/tests/test_database.py
  hasher-matcher-actioner/src/OpenMediaMatch/tests/utils.py
  hasher-matcher-actioner/src/OpenMediaMatch/utils/formatters.py
  vpdq/cpp/pdq/cpp/hashing/torben.cpp
  vpdq/cpp/pdq/cpp/hashing/torben.h
  vpdq/python/tools/generate_hashes.py
Labels: CLA Signed

#1626 [pytx] 1.1.1
  python-threatexchange/version.txt
Labels: CLA Signed

#1627 [hma] 1.0.5
  hasher-matcher-actioner/version.txt
Labels: CLA Signed

#1628 [hma] Fix CI for new mypy version
  hasher-matcher-actioner/src/OpenMediaMatch/tests/test_api.py
Labels: CLA Signed

#1629 [pytx] Remove docker run from README.md
  python-threatexchange/README.md
Labels: CLA Signed
