Repository facebook/ThreatExchange, pull requests merged in 2025-05, with the labels that each got.

#1817 [pdq] optimize PDQ linear scan implementation
  pdq/cpp/Makefile
  pdq/cpp/bin/benchmark-query.cpp
  pdq/cpp/bin/test-flat.cpp
  pdq/cpp/common/pdqbasetypes.h
  pdq/cpp/common/pdqhamming.h
  pdq/cpp/common/pdqhashtypes.h
  pdq/cpp/index/flat.h
  vpdq/cpp/pdq/cpp/common/pdqbasetypes.h
  vpdq/cpp/pdq/cpp/common/pdqhamming.h
  vpdq/cpp/pdq/cpp/common/pdqhashtypes.h
Labels: CLA Signed, pdq, vpdq

#1820 [vpdq] Fix TSan + UBSan false-positive
  vpdq/cpp/CMakeLists.txt
Labels: CLA Signed, vpdq

#1821 OMM: Update hashing to support FileHashers
  hasher-matcher-actioner/src/OpenMediaMatch/blueprints/hashing.py
Labels: CLA Signed, hma

#1823 [CI] Update github workflows with black --diff
  .github/workflows/hma-ci.yaml
  .github/workflows/python-threatexchange-ci.yaml
Labels: CLA Signed
