Repository facebook/ThreatExchange, pull requests merged in 2025-03, with the labels that each got.

#1774 Rename benchmark files casing
  python-threatexchange/benchmarks/README.md
  python-threatexchange/threatexchange/extensions/vpdq/README.md
  vpdq/benchmark/README.md
Labels: CLA Signed

#1775 [CI] Fix labelling actions
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  CONTRIBUTING.md
  README.md
  hasher-matcher-actioner/src/OpenMediaMatch/storage/interface.py
  python-threatexchange/benchmarks/README.md
  python-threatexchange/benchmarks/benchmark_pdq_faiss_matchers.py
  vpdq/CONTRIBUTING.md
Labels: CLA Signed

#1777 [py-tx] Add reference to implemented exchanges in README.md
  python-threatexchange/README.md
Labels: CLA Signed

#1778 [pytx] Update some language on extensions README
  python-threatexchange/threatexchange/extensions/README.md
Labels: CLA Signed

#1779 [hma] Add direct reference to extensions in README.md
  hasher-matcher-actioner/README.md
Labels: CLA Signed

#1782 added missing created_on field to TAT API
  python-threatexchange/threatexchange/exchanges/clients/techagainstterrorism/api.py
  python-threatexchange/threatexchange/exchanges/clients/techagainstterrorism/tests/test_api.py
Labels: CLA Signed

#1783 [actions] Test labeling labeler.yml
  .github/labeler.yml
Labels: CLA Signed

#1784 [pytx] Update README.md
  python-threatexchange/README.md
Labels: CLA Signed, labeltest

#1785 [actions] Update labeler.yml
  .github/labeler.yml
Labels: CLA Signed

#1787 [actions] Update labeler.yml
  .github/labeler.yml
Labels: CLA Signed

#1788 [actions] Update labeler.yml
  .github/labeler.yml
Labels: CLA Signed

#1786 [pytx] update README.md
  python-threatexchange/README.md
Labels: CLA Signed

#1789 [pytx] 1.2.7
  python-threatexchange/version.txt
Labels: CLA Signed, python-threatexchange

#1791 [pytx] Storage compatibility wrapper to demonstrate how we might do it
  python-threatexchange/threatexchange/cli/cli_config.py
  python-threatexchange/threatexchange/cli/config_cmd.py
  python-threatexchange/threatexchange/cli/storage/__init__.py
  python-threatexchange/threatexchange/cli/storage/interfaces.py
Labels: CLA Signed, python-threatexchange

#1790 [CI] Fix PyPi Publishing
  .github/workflows/python-threatexchange-release.yaml
Labels: CLA Signed

#1780 [Misc] Fix Spelling
  hasher-matcher-actioner/src/OpenMediaMatch/app.py
  hasher-matcher-actioner/src/OpenMediaMatch/blueprints/matching.py
  python-threatexchange/threatexchange/exchanges/clients/fb_threatexchange/threat_updates.py
  python-threatexchange/threatexchange/exchanges/signal_exchange_api.py
  python-threatexchange/threatexchange/signal_type/index.py
  tmk/README-more.md
  tmk/cpp/bin/tmk-hash-video.cpp
  vpdq/cpp/apps/vpdq-hash-video.cpp
Labels: CLA Signed, python-threatexchange, hma, vpdq

#1793 [actions] Maybe fix label errors from forks
  .github/workflows/pr-labeler.yml
Labels: CLA Signed

#1794 [pytx] 1.2.8
  python-threatexchange/version.txt
Labels: CLA Signed

#1796 [hma] Fix pytx lib imports
  hasher-matcher-actioner/pyproject.toml
  hasher-matcher-actioner/src/OpenMediaMatch/blueprints/matching.py
  hasher-matcher-actioner/src/OpenMediaMatch/storage/postgres/impl.py
Labels: CLA Signed, hma

#1797 DESCRIPTION.rst => into `pyproject.toml` file
  python-threatexchange/DESCRIPTION.rst
  python-threatexchange/pyproject.toml
Labels: CLA Signed, python-threatexchange

#1792 [pytx] DbmStore starting point
  python-threatexchange/pytest.ini
  python-threatexchange/threatexchange/storage/local_dbm.py
  python-threatexchange/threatexchange/storage/tests/test_local_dbm.py
Labels: CLA Signed, python-threatexchange

#1800 [hma] Auto-select input type on bank add
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/banks/add_to_bank_form.html.j2
  hasher-matcher-actioner/src/OpenMediaMatch/templates/components/banks/banks_grid.html.j2
Labels: CLA Signed, hma

#1802 [hma] 1.0.14
  hasher-matcher-actioner/version.txt
Labels: CLA Signed

#1803 Add UI_ENABLED config variable for HMA
  hasher-matcher-actioner/reference_omm_configs/development_omm_config.py
  hasher-matcher-actioner/reference_omm_configs/scaled_deployment_curator_omm_config.py
  hasher-matcher-actioner/src/OpenMediaMatch/app.py
  hasher-matcher-actioner/src/OpenMediaMatch/blueprints/ui.py
Labels: CLA Signed, hma

#1804 [hma] 1.0.15
  hasher-matcher-actioner/version.txt
Labels: CLA Signed

#1805 Fix bug in HMA redirect logic
  hasher-matcher-actioner/src/OpenMediaMatch/app.py
Labels: CLA Signed, hma

#1806 [hma] 1.0.16
  hasher-matcher-actioner/version.txt
Labels: CLA Signed
